@font-face {
  font-family: 'Din-Bold';
  src: url('../fonts/din-bold.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
$din-bold:'Din-Bold';

@font-face {
  font-family: 'DINCondensed-Bold';
  src: url('../fonts/DINCondensed-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/DINCondensed-Bold.woff') format('woff'), url('../fonts/DINCondensed-Bold.ttf')  format('truetype'), url('../fonts/DINCondensed-Bold.svg#DINCondensed-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
$bold-font:'DINCondensed-Bold';
$title-font:'DINCondensed-Bold';

@font-face {
  font-family: 'BwQuintaPro-Black';
  src: url('../fonts/BwQuintaPro-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/BwQuintaPro-Black.woff') format('woff'), url('../fonts/BwQuintaPro-Black.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
$card-FrsHeader-font:'BwQuintaPro-Black';

@font-face {
  font-family: 'BwQuintaPro-Bold';
  src: url('../fonts/BwQuintaPro-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/BwQuintaPro-Bold.woff') format('woff'), url('../fonts/BwQuintaPro-Bold.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
$card-SecHeader-font:'BwQuintaPro-Bold';

@font-face {
  font-family: 'DIN-Regular';
  src: url('../fonts/DIN-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
$main-font:'DIN-Regular';

@font-face {
  font-family: 'DIN-Medium';
  src: url('../fonts/DIN-Medium.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
$medium-font:'DIN-Medium';

@font-face {
  font-family: 'Cabin-Medium';
  src: url('../fonts/Cabin-Medium.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
$button-font:'Cabin-Medium';
$footer-menu:'Cabin-Medium';

@font-face {
  font-family: 'Cabin-Regular';
  src: url('../fonts/Cabin-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
$footer-text:'Cabin-Regular';
$filter-text:'Cabin-Regular';