$dark-nav-color: #2C3840;
$card-color:#003a48;
$q-card:#cdedfa;
$title-color:#003a47;
$opaque-color:#bdbbbb;
$button-color:#003946;
$card-title-color:#cdedfa;
$card-button-color:#cdedfa;
$background-color: #d5dde0;
$baby-blue-color:#55bbeb;
$orange-color:#ff7900;
$project-text:#4a4a4a;
$quotes-color:#c7e9f9;
$project-footer-bg:#ddf0ed;