$dark-nav-color: #2C3840;
$card-color:#003a48;
$q-card:#cdedfa;
$title-color:#003a47;
$opaque-color:#bdbbbb;
$button-color:#003946;
$card-title-color:#cdedfa;
$background-color: #d5dde0;
$subscribe-button:#55bbeb;