h1{
	color:$title-color; 
    font-family: $title-font; 
}
p{
	font-family: $main-font; 
}
.container{
	padding-left: 80px;
	padding-right: 80px;
	@media (max-width: 64em){
		padding-left: 25px !important;
		padding-right: 25px !important;
	}
}