h1{
	color:$title-color; 
    font-family: $title-font; 
}
p{
	font-family: $main-font; 
}
.container{
	padding-left: 80px;
	padding-right: 80px;
	@media (max-width: 64em){
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
}
.section-titles{
	color:$title-color;
    font-size: 38px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: $title-font;
}
.grouped-buttons{
	display: flex;
	align-items:center;
	justify-content: space-between;
	.button{
		display: flex;
    	width: 48%;
    	font-size: 18px;
    	justify-content: space-around;
	}
}
i.fa.fa-long-arrow-right {
    padding-top: 1px;
}