
.box{
	border: 5px solid black;
    padding: 50px;
    background-color: #f7f7f7;
	right: 0;
	max-width: 500px;
	 &__title{
	    color:$title-color; 
	    font-family: $title-font;
	    line-height: 0.95;
	    font-size: 80px;
	    text-transform: uppercase;     
	     span{
	         color: $orange-color;
	         font-size: 50px;
	         display: block;
	     }
	}
	&__text{
	    padding-top:20px; 
	    font-family: $main-font;
	    font-size: 16px;
	}
	.small-icon{
	    img{
	         width: 55px;
	    }
	}
}
