.page-template-coming-soon{
	// height: 100vh;
	// overflow-y: hidden; 
	.top-bar-right{
		display: none;
	}
	.footer{
		margin-top: 100px;
	}
	header{
        &.site-header{
            background-color: transparent;
            position: absolute;
            width: 100%;
        }
    }
}
.coming-soon__background{
	background-color:$background-color;
	height: 85vh;
    position: absolute;
    width: 100%;
    @media (max-width: 64em){
    	height: 70vh;
    }
    @media (max-width: 40em){
    	height: 87vh;
    }

}
.coming-soon{
	display: flex;
	align-items: center;
	&__content{
		&__title{
			font-size: 145px;
			line-height: 0.88;
			position: relative;
			padding-bottom: 5px;
			@media (max-width: 64em){
				font-size: 100px;
			}
			@media(max-width: 40em){
				font-size: 60px;
			}
		}
		.grouped-buttons{
			width: 75%;
			.button{
				font-size: 22px;
			}
		}
		@media (max-width: 64em){
			&__buttons{
				display: flex;
			    position: absolute;
			    top: 0;
			    right: 0;
			    .button{
			    	width: 200px;
			    	font-size: 18px;
			    }
			}
		}
		@media (max-width: 40em){
			&__buttons{
				display: block;
			    .button{
			    	width: 140px;
			    	font-size: 11px;
			    	&-download{
						@media (max-width: 40em){
							top:6%;
							position: fixed;
						}
					}	
			    }
			}
		}

	}
	&__image{
		&__responsiveImage{
			display: none;
		}
		&__mainImage{
			position: relative;
			@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                 width: 100%;
             }
		}
		svg{
			position: absolute;
		}
		.big-circle{
			z-index:0;
			transform: scale(0.7);
			right: -85px;
			bottom: 50px;
		}
		.short-top-line{
			left: 57%;
			z-index: 6;
		}
		.tall-top-line{
    		left: 61%;
		}
		.short-botton-line{
			z-index: 5;
			bottom: 120px;
			right: 15%;
		}
		.tall-botton-line{
			bottom: 70px;
   			left: 70%;
		}
		.small-circle{
			bottom: 130px;
			right: 14%;
		}
		.top-drawLine1{
			top: 43%;
		    z-index: 6;
		    right: 35%;
		}
		.top-drawLine2{
			top: 48%;
    		right: 35%;
		}
		.botton-drawLine1{
			bottom: 3%;
    		right: 25%;
		}
		.botton-drawLine2{
			bottom: 5%;
    		right: 27%;
    		z-index: 6;
		}
	}
}
@media (width: 1024px){
	.coming-soon{
		&__content{
			&__title{
				margin-top: 10%;
    			width: 50%;
			}
		}
	}	
}
@media (max-width: 64em){
	.coming-soon{
		padding-top: 200px;
		flex-flow:column;
		width: 100%;
		align-items:flex-start;
		
		&__image{
			display: none;
			&__responsiveImage{
				display: block;
				// position:relative;
				position: absolute;
    			right: 0;
			}
		}
	}	
}
@media (max-width: 40em){
	.coming-soon{
		padding-top: 120px;
		&__image{
			&__responsiveImage{
				top:28%;
			}
		}
	}	
}