
.archive{
  footer{
    display: none;
  }
}
.cute_scroll::-webkit-scrollbar
{
  width: 10px;
  background-color: #643f91  ;
}

.cute_scroll::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px #f06292 ;
  border-radius: 10px;
  background-color: #8b73a994;
  border-left: 3px solid white;
  border-right: 3px solid white;
}

.cute_scroll::-webkit-scrollbar-thumb
{
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 px #ad1457 ;
  background-color:#643f91; 
}
.main-container{
  display: flex !important;
}
.main-content {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100% !important;
  @include breakpoint(small) {
    @include xy-cell(12);
  }

  @include breakpoint(medium) {
    @include xy-cell(8);
  }
  &__filter-section{
    width: 22%;
    h3{
        font-family: $bold-font;
        color: $title-color;
        font-size: 30px;
    }
    ul{
      .cute_scroll::-webkit-scrollbar
        {
          width: 8px;
        }
      &#filter-ul {
       list-style-type: none;
       margin-left: 0;
       height: 80px;
       overflow-y: scroll;
      }
    }
    li{
      &.accordion-item {
        a{
          color: $opaque-color;
          font-size: 18px;
          font-family:$main-font;
        }

      }
      &.is-active{
        > a{
          color: $title-color;
        }
         > .accordion-title::before {
           content: '\2716';
        }
      }
    }
    .accordion-title,.accordion-content{
      border-left: 0;
      border-right: 0;
    }
    .filter-menu{
      position: fixed;
      width: 15%;
      z-index: 1;
      top:32%;
    }
    .filter-icons{
        position: fixed;
        bottom: 0;
        display: grid;
      button{
         opacity: 0.3;
         &:active{
              opacity: 1;
            }  
         i{
           color: $title-color;
           font-size: 20px;
           margin-bottom: 10px;
          }
         p{
            display: inline; 
            margin-left: 10px;
         }        
        }
    }
  }
  &__project-section{
    width: 90%;
    margin-top: 20px;
    .scroll-posts{
      height: 75vh;
      overflow-y: scroll;
      display: flex;
      flex-wrap: wrap;
     }
      
  }
  footer{
    display: none;
  }
}
.project-section{
   &__post{
     display: flex;
     height: 70vh;
     margin-bottom: 100px;
     padding-right: 90px;
     align-items: center;
     width: 100%;
      &__image{
        width: 90%;
        transform: translateX(110px) ;
      }
      &__box{
        width: 72%;    
        height: fit-content;
        padding: 25px;
        padding-left: 80px;
        padding-bottom: 0;
        margin-top: 50px; 
        &__text{
          padding-top: 12px;
        }
         .grouped-buttons{
            .button{
              width: 55%;
              justify-content:space-between;
            }
          }
     }
     &.grid{
        padding-right: 25px;
        align-items: flex-end;
        margin-bottom: 130px;
      }
      .box.boxsize:hover{
        .grouped-buttons{
             display: block !important;
            .button{
              font-size: 12px !important;
              width: 100%;
              padding-top: 0;
              margin-top: 0;
            } 
        }
         transition: all 1s ease-in-out; 
        }
  }
}

//// for tail and grid sections
.hide{
  display: none !important;
}
.grid{
  width: 50%;
  height: auto;
  margin-left: 0;
}
.color{
  opacity: 1;
}
.boxsize{
  height: auto;
  padding:20px;
  text-align: center;
  width: 35%;
  border:2px solid;
}
.imagesize{
  width: 50%;
  transform:translateX(50px);
  z-index: 1;
}
.font-size{
  padding-top: 20px;
  font-size: 40px !important;
}


///////////////

.updated,.byline.author{
  display: none;
}

.sidebar {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(4);
      margin-top: 1rem;
    }
    display: none;
  }
