
@media (max-width: 60em)
{
  .post-type-archive-projects{
    .page-name{
      display: none;
    }
  }
}
.main-container{
  display: flex !important;
  @media (max-width: 60em){
    flex-direction:column;
  }
}
.main-content {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100% !important;
  @include breakpoint(small) {
    @include xy-cell(12);
  }

  @include breakpoint(medium) {
    @include xy-cell(8);
  }
  &__filter-section{
    width: 22%;
    h3{
        font-family: $bold-font;
        color: $title-color;
        font-size: 35px;
        @media (max-width: 40em){
          font-size: 20px;
        }
    }
    ul{
      &#filter-ul {
       list-style-type: none;
       margin-left: 0;
       height: 80px;
       overflow-y: scroll;
       @media (max-width: 60em){
          overflow: initial;
          height: 100%;
       }
      }
    }
    li{
      &.accordion-item {
        a{
          color: $opaque-color;
          font-size: 18px;
          font-family:$filter-text;
          @media (max-width: 40em){
            font-size: 14px;
          }
        }

      }
      &.is-active{
        > a{
          color: $title-color;
          font-size: 20px;
        }
         > .accordion-title::before {
           content: '\2716';
           font-size: large;
           top:50%;
           @media (max-width: 40em){
            font-size: small;
          }
        }
      }
    }
     .accordion-title {
      &:before {
        position: absolute;
        top: 40%;
        right: 1rem;
        margin-top: -0.5rem;
        content: '+';
        font-weight: bold;
        font-size: xx-large;
        @media (max-width: 40em){
          font-size: inherit;
        }
      }
    }
    .accordion-title,.accordion-content{
      border-left: 0;
      border-right: 0;
    }
    .filter-menu{
      position: fixed;
      width: 15%;
      z-index: 1;
      top:25%;
      span{
        display: none;
      }
      @media (max-width: 64em){
          position: absolute;
          width: 90%;
          top: 15%;
          border-bottom: 1px solid $opaque-color;
          z-index: 500;
          span{
            display: block;
            font-weight: bold;
            position: absolute;
            left: 91%;
            top: 0;
            font-size: inherit;
          }
      }
    }
    .filter-icons{
        position: fixed;
        bottom: 0;
        display: grid;
      button{
         opacity: 0.3;
         &:active{
              opacity: 1;
            }
         i{
           color: $title-color;
           font-size: 20px;
           margin-bottom: 10px;
          }
         p{
            display: inline;
            margin-left: 10px;
         }
        }
        @media (max-width: 64em){
          display: none;
        }
    }
    @media (max-width: 40em){
      width: 0;
    }
    .reset-filters{
       font-family: $filter-text;
       color: #31006d;
       font-size: 1.2rem;
       text-decoration: underline;
       margin-left: 10px;
       &.responsive{
        font-size: 0.9rem;
        display: none;
        @media (max-width: 40em){
          display: block !important;
         }
       }
       @media (max-width: 40em){
          display: none;
       }
    }
  }
  &__project-section{
    width: 90%;
    margin-top: 20px;
    .scroll-posts{
      display: flex;
      flex-wrap: wrap;
      height: 80vh;
      overflow-y:scroll;
      overflow-x: hidden;
     }
    @media (max-width: 64em){
      width: 100%;
      margin-top: 25%;
    }
  }
  footer{
    display: none;
  }
}
.scroll-posts.grid-view{
   #post-icon{
      display: none;
    }
  .project-section{
    &__post{
      width: 47%;
      height: auto;
      padding-top: 3%;
      margin-bottom: 7%;
      margin-left: 0;
      position: relative;
      left: 10%;
      &__box{
        min-height: 250px;
        padding:0;
        margin: 0;
        text-align: center;
        width: 100%;
        border:0;
        background-color: transparent;
        padding-left: 80px;
        &__image{
           width: 60%;
           left: -30px;
           bottom: 0;
          @media (max-width: 60em){
            width: 44%;
            left: -10px;
          }
          @media (max-width: 40em){
              width: 62%;
              left: -10%;
          }
         @media (width: 1024px){
           width: 70%;
         }
         @media (width: 320px){
          left: -7%;
         }
        }
        &__content{
          border: 3px solid;
          width: 100%;
          padding: 0;
          min-height: 170px;
        &__text{
          display: none;
          }
        &__title{
          padding-top: 50px;
          font-size: 50px !important;
          width: 85%;
          padding-left: 32%;
          text-align: left;
          @media(max-width: 40em){
            font-size: 45px !important;
            margin: 0;
            padding-top: 25px;
          }
          @media (max-width: 40em){
            font-size: 36px !important;
          }
        }
        .grouped-buttons{
            display: none;
            @media (max-width: 60em){
              display: block !important;
              .button{
                width: 54%;
                left: 40%;
                margin-left: 0;
                z-index: 1;
              }
            }
        }
        @media (max-width: 60em){
          padding-left: 10%;
        }
        @media (max-width: 40em){
          padding-left: 25%;
        }
        @media (width: 320px){
          padding-left: 25%;
        }
      }
      &:hover{
         min-height: 250px !important;
        .grouped-buttons{
           display: block !important;
          .button{
            font-size: 14px !important;
            justify-content: space-around;
            width: 50%;
            padding-top: 0;
            margin-top: 0;
            margin-left: 32%;
            @media (max-width: 60em){
              width: 60%;
              left: 30%;
              margin-left: 0;
            }
          }
        }
      }
        @media (max-width: 60em){
          min-height: 150px;
          padding:0;
          margin: 0;
          position: initial;
          text-align: center;
          width:350px;
          left: 20%;
          border:0;
          background-color: transparent;
          &:hover{
            min-height: 150px !important;
          }
        }
        @media (max-width: 40em){
          width: 290px;
          left: 20%;
        }
        @media (width: 320px){
          width: 252px;
          left: 30%;
        }
      }
      @media (max-width: 60em){
        width: 100%;
        left: 0;
      }
      @media (max-width: 40em){
        left: 0;
        padding-right: 10px;
        margin-bottom: 45px;
        height: 195px;
      }
      @media (width: 1024px){
        left: 0;
      }
    }
  }
}
.project-section{
   &__post{
     height: fit-content;
     margin-bottom: 180px;
     padding-right: 90px;
     width: 100%;
      &__box{
        position: relative;
        float: right;
        width: 50%;
        height: fit-content;
        padding: 30px;
        padding-left: 80px;
        padding-bottom: 0;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        &__image{
          width: 100%;
          position: absolute;
          left:-75%;
          bottom: -5px;
        }
        &__content{
          &__text{
            padding-top: 0 !important;
            p{
              margin-bottom: 0 !important;}
            }
          &__title{
            line-height: 0.9 !important;
            text-transform: capitalize;
          }
           .grouped-buttons{
              .button{
                width: 55%;
                justify-content:space-around;
                @media (max-width: 40em){
                  left: 10%;
                }
              }
              margin-bottom: 15px;
            }
          }
    }
  }
}
//// for tail and grid sections
.hide{
  display: none;
}

.color{
  opacity: 1;
}

.updated,.byline.author{
  display: none;
}

.sidebar {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(4);
      margin-top: 1rem;
    }
    display: none;
  }

/////
.accordion-title:hover, .accordion-title:focus {
    background-color: #e6e6e600;
}

.show-filter{
  display: block;
}

.defult-view{
  opacity: 1 !important;
}
.cute_scroll::-webkit-scrollbar
{
  width: 10px;
  background-color: #643f91  ;
}

.cute_scroll::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px #f06292 ;
  border-radius: 10px;
  background-color: #8b73a994;
  border-left: 3px solid white;
  border-right: 3px solid white;
}

.cute_scroll::-webkit-scrollbar-thumb
{
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 px #ad1457 ;
  background-color:#643f91;
}
