.blogs-page-container{

  margin-top: -7em;
  padding: 0 0 0 0;
  & .blogs-page-container-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5em;
    padding-right: 0.5em;
    padding-top: 10em;
    height: 101vh;
    position: relative;
    & .blogs-header{
      font-family:$title-font;
      flex:1;
      font-size: 8rem;
      padding: 0.5em 0;
    }
    & .small-typewriter{
      position: absolute;
      top: 1em;
      width: 15em;
      left: 35%;
    }
    & .header-images{
      flex:1.5;
      display: block;
      text-align: right;
      & img{
        display: inline-block;
        &.typewriter{
          position: relative;
          z-index: 0;
          // width: 85%;
          padding-top: 2.5em;
        }

      }

    }

  }
  & .featured-articles-title{
    font-size: 5rem;
    font-family: $title-font;
    padding-left: 0.5em;
    padding-top: 0.5em;
  }
  & .featured-articles-slider{
    width: 100% !important;
    padding: 2em 0;
    display: block;
    margin: 0 auto;
    & .slick-slide{
      margin: 5em 5em;
      margin-top: 5em;
      &:not(.slick-active)
      {
        filter: blur(2px);
      }
    }
    & .featured-articles-slide{
      // width: 50% !important;
      width: 80%!important;
      border: 5px solid black;
      position: relative;
      padding: 2em;
      height: 35em;
      margin: 0 2em;
      background-color: white;
      & .blog-post-text{
        padding-left: 30%;
        & .blog-post-header{
          font-family: $title-font;
          color: $title-color;
          width: 75%;
        }
        & .author{
          display: flex;
          padding: 0 0.5em;
          // justify-content: center;
          & img{
            width: 4em;
            height: 4em;
            border: 3px solid $baby-blue-color;
            border-radius: 50%;
          }
          & .author-name{
            align-self: center;
            padding-left: 1em;
            font-family: $medium-font;
            color: $baby-blue-color;
          }
        }
        & p{
          font-family: $main-font;
          color: #4a4a4a;
          text-align: justify;
        }
      }
      & .blog-post-image{
        position: absolute;
        left: -15em;
        width: 59%;
        border: 5px solid $baby-blue-color;
        z-index: 5;
        height: 95%;
        bottom: 0.1em;
        & img.attachment-full.size-full.wp-post-image
        {
          height: 100%;
        }
        & .post-images{
          & .zigzag-line-1{
            position: absolute;
            top: -1.7em;
            left: 1em;
          }
          & .zigzag-line-2{
              position: absolute;
              top: 0;
              left: 2.5em;
          }
          & .zigzag-line-3{
              position: absolute;
              bottom: 0em;
              right: 2em;
          }
          & .zigzag-line-4{
              position: absolute;
              bottom: -1.5em;
              right: 0em;
          }
          & .blue-line-1{
              position: absolute;
              top: -7em;
              right: 6em;
              width: 25%;
              z-index: -2;
          }
          & .blue-line-2{
              position: absolute;
            top: 1em;
            right: 0;
            // width: 25%;
            top: -5em;
            right: 4em;
            width: 30%;
          }

          & .orange-circle{
            position: absolute;
            top: -3em;
            right: 3.5em;
            z-index: -1;
          }
        }
      }

      & .blog-post-details{
        position: absolute;
        right: 0;
        top: 0;
        & *{
          text-align: center;
          padding: 1em;
          border: 3px solid black;
          font-family: $title-font;
          color: black;
          border-right: none;
          border-top: none;

        }
        & .blog-post-time{
          display: flex;
          flex-direction: column;
          padding: 0.5em 0;
            background-color: $quotes-color;
            & img, span{
              border:none;
              padding: 0;
            }
            & img{
              transform: scale(0.8);
            }
        }
        & .blog-post-date{
          background-color: $baby-blue-color;
          text-transform: uppercase;
        }
      }

      & .read-more{
        // text-align: center;
        visibility: hidden;
        opacity: 0;
        transition: opacity 800ms, visibility 500ms linear;
        display: block;
        margin: 0 auto;
      }
      &:hover{
        & .read-more{
          visibility: visible;
          opacity: 1;
        }
      }

      & .blue-line-3{
        position: absolute;
        bottom: -4em;
        right: -3.5em;
        width: 20%;
      }
      & .blue-line-4{
          position: absolute;
          width: 20%;
          bottom: -3em;
          right: -4em;
          z-index: -1;

      }
    }

      & .slick-dots {
    	display: flex;
    	justify-content: center;
    	margin: 0;
    	padding: 1rem 0;
    	list-style-type: none;
    		& li {
    			margin: 0 0.25rem;
          align-self: center;
    		}
    	& button {
    			display: block;
    			width: 0.5rem;
    			height: 0.5rem;
    			padding: 0;
    			border: none;
    			border-radius: 100%;
    			background-color: #aaaaaa;
    			text-indent: -9999px;
          transition: background-color 300ms linear;
    		}

    	&	li.slick-active button {
    			background-color: $baby-blue-color;
          width: 1rem;
    			height: 1rem;
    		}
    }
  }
}


@media only screen and (min-width:1340px) and (max-width: 1904px) {
  .blogs-page-container {
    & .blogs-page-container-header {
      & .blogs-header
      {
        font-size: 6rem;
      }
    }

    & .featured-articles-slider{
      & .featured-articles-slide{
        & .blog-post-text{
          padding-left: 24%;
        }
        & .blog-post-image
        {
          height: 95%;
          width: 75%;
          bottom: 0.5em;
          z-index: 5;
          & img.attachment-full.size-full.wp-post-image
          {
            height: 100%;
          }
        }
      }
    }
  }
}
