
////////////////////////////////archive blogs/////////////////////////////////////////

 .featured-articles-slide{
  // width: 50% !important;
  width: 85%!important;
  border: 5px solid black;
  position: relative;
  padding: 2em;
  height: 35em;
  margin: 0;
  margin-left: 7em;
  background-color: white;
  & .blog-post-text{
    padding-left: 20%;
      & p{
        font-size: 1.2rem;
      }
    & .blog-post-header{
      font-family: $title-font;
      color: $title-color;
      width: 75%;
    }
    & .author{
      display: flex;
      padding: 0 0.5em;
      // justify-content: center;
      & img{
        width: 4em;
        height: 4em;
        border: 3px solid $baby-blue-color;
        border-radius: 50%;
      }
      & .author-name{
        align-self: center;
        padding-left: 1em;
        font-family: $medium-font;
        color: $baby-blue-color;
      }
    }
    & p{
      font-family: $main-font;
      color: #4a4a4a;
      text-align: justify;

    }
  }
  & .blog-post-image{
    position: absolute;
    left: -16em;
    width: 40%;
    border: 5px solid $baby-blue-color;
    z-index: 5;
    height: 100%;
    bottom: -1em;
    & img.attachment-full.size-full.wp-post-image
    {
      height: 100%;
      width: 100%;
    }
    & .post-images{
      & .zigzag-line-1{
        position: absolute;
        top: -1.7em;
        left: 1em;
      }
      & .zigzag-line-2{
          position: absolute;
          top: 0;
          left: 2.5em;
      }
      & .zigzag-line-3{
          position: absolute;
          bottom: 0em;
          right: 2em;
      }
      & .zigzag-line-4{
          position: absolute;
          bottom: -1.5em;
          right: 0em;
      }
      & .blue-line-1{
          position: absolute;
          top: -7em;
          right: 4em;
          width: 30%;
          z-index: -2;
      }
      & .blue-line-2{
          position: absolute;
        top: 1em;
        right: 0;
        // width: 25%;
        top: -4em;
        right: 2.5em;
        width: 30%;
      }

      & .orange-circle{
        position: absolute;
        top: -3em;
        right: 3.5em;
        z-index: -1;
      }
    }
  }

  & .blog-post-details{
    position: absolute;
    right: 0;
    top: 0;
    & *{
      text-align: center;
      padding: 1em;
      border: 3px solid black;
      font-family: $title-font;
      color: black;
      border-right: none;
      border-top: none;

    }
    & .blog-post-time{
      display: flex;
      flex-direction: column;
      padding: 0.5em 0;
        background-color: $quotes-color;
        & img, span{
          border:none;
          padding: 0;
        }
        & img{
          transform: scale(0.8);
        }
    }
    & .blog-post-date{
      background-color: $baby-blue-color;
      text-transform: uppercase;
    }
  }

  & .read-more{
    // text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 800ms, visibility 500ms linear;
    display: block;
    margin: 0 auto;
    & .icon-right{
      vertical-align: middle;
    }
  }
  &:hover{
    & .read-more{
      visibility: visible;
      opacity: 1;
    }
  }

  & .blue-line-3{
    position: absolute;
    bottom: -4em;
    right: -3.5em;
    width: 15%;
  }
  & .blue-line-4{
      position: absolute;
      width: 15%;
      bottom: -3em;
      right: -4em;
      z-index: -1;

  }
}



.blogs-page-container{

  margin-top: -7em;
  padding: 0 0 0 0;
  & .blogs-page-container-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5em;
    padding-right: 0.5em;
    padding-top: 10em;
    height: 101vh;
    position: relative;
    & .blogs-header{
      font-family:$title-font;
      flex:1;
      font-size: 7rem;
      padding: 1.5em 0;
    }
    & .small-typewriter-container{
      // position: relative;
      & .small-typewriter{
        position: absolute;
        top: 1em;
        width: 15em;
        left: 35%;
        z-index: 3;
      }
      & .blue-semi-circle{
        position: absolute;
        top: 0.5em;
        left: 33%;
      }
      & .zigzag-line-5
      {
        position: absolute;
        top: 9em;
        left: 35%;
        width: 5%;
        z-index: 4;
      }
      & .zigzag-line-6
      {
        position: absolute;
        top: 11em;
        left: 33.3%;
        width: 5%;
        z-index: 2;
      }
    }

    & .header-images{
      flex:1.5;
      display: block;
      text-align: right;
      position: relative;
      & img{
        display: inline-block;
        &.typewriter{
          position: relative;
          z-index: 0;
          // width: 85%;
          // padding-top: 2.5em;
          width: 75%;
          right: 15%;
          top: 10em;
          z-index: 5;
        }
        &.blue-semi-circle-2{
          position: absolute;
          top: 3%;
          right: 45%;
          z-index: 0;
        }
        &.dark-blue-circle{
          position: absolute;
          top: 25%;
          left: 32%;
          z-index: 6;
        }
        &.orange-line-1{
          position: absolute;
          top: 18%;
          left: 25%;
          z-index: 5;
        }
        &.orange-line-2{
          position: absolute;
          top: 21%;
          left: 29%;
          z-index: 7;

        }

      }

    }

  }
  & .featured-articles-title{
    font-size: 5rem;
    font-family: $card-FrsHeader-font;
    padding-left: 1em;
    padding-top: 0.5em;
  }
  & .featured-articles-slider{
    width: 100% !important;
    padding: 2em 0;
    display: block;
    margin: 0 auto;
    & .slick-slide{
      margin: 5em 10em;
      margin-top: 5em;
      &:not(.slick-active)
      {
        filter: blur(2px);
      }
    }
    & .featured-articles-slide{
     // width: 50% !important;
     width: 90%!important;
     border: 5px solid black;
     position: relative;
     padding: 2em;
     height: 35em;
     margin: 0;
     margin-left: 7em;
     background-color: white;
     & .blog-post-text{
       padding-left: 15%;
       & p{
           font-size: 1.4rem;
       }
     }
     & .blog-post-image{
       // position: absolute;
       left: -14em;
     }
   }


      & .slick-dots {
    	display: flex;
    	justify-content: center;
    	margin: 0;
    	padding: 1rem 0;
    	list-style-type: none;
    		& li {
    			margin: 0 0.25rem;
          align-self: center;
    		}
    	& button {
    			display: block;
    			width: 0.5rem;
    			height: 0.5rem;
    			padding: 0;
    			border: none;
    			border-radius: 100%;
    			background-color: #aaaaaa;
    			text-indent: -9999px;
          transition: background-color 300ms linear;
    		}

    	&	li.slick-active button {
    			background-color: $baby-blue-color;
          width: 1rem;
    			height: 1rem;
    		}
    }
  }
  & .latest-articles-section{
    padding: 0 5em;
    & .load-more{
      display: block;
      margin: 0 auto;
      text-align: center;
    }
    & .latest-articles-header{
      font-family: $card-FrsHeader-font;
      color: $title-color;
      font-size: 5rem;
      // padding-left: 1.7em;
      padding-top: 0.5em;
    }

  }
}
 .filter-menu{
  position: unset;
  width: auto;
}
.latest-articles-container{
  padding-top: 5em;
  display: flex;
  justify-content: space-between;

  & .articles-container{
    width: 65%;
    & .article:first-child
    {
      margin-top: 0;
    }
    & .article{
      margin: 8em 0;
    }
    & .pagination{
      display: none;
    }

  }
  & .main-content__filter-section{
    width: 20%;
    & .search-bar{
      padding: 2em 0;
      display: flex;
      & input{
        box-shadow: none;
        border: none;
        border-bottom: 1px solid #e6e6e6;
        transition: border-bottom-color 0.3s linear;

        &::placeholder{
          color: $title-color;
          letter-spacing: 1px;
          font-family: $title-font;
          font-size: 2.2rem;
          padding: 0 0.5rem;
        }
        &:focus{
          border-bottom-color: $title-color;
          &::placeholder{
                font-size: 0;
            }
        }
      }
      & .search-button{
        margin-left: -2em;
        margin-top: -1.7em;
      & img{
          width: 90%;
        }
      }
    }
    & li.accordion-item
    {
      & a{
        font-family: $main-font;
        font-size: 1.5rem;
      }
    }
    & .filter-menu{
      position: static;
      width: 100%;
      & h3{
        font-size: 2.2rem;
        padding: 0 1rem;
      }
      & .accordion{

        & .accordion-item{
          font-family: 'DIN-Regular';
          color: #aaaa;
          & .accordion-content{
            font-family: $main-font;
            color: #aaaa;
          }
        }

      }
      & #filter-ul-departments{
        list-style: none;
        margin: 0;
      }
    }

  }
}


@media only screen and (min-width:1340px) and (max-width: 1904px) {

  & .featured-articles-slide{
    width: 80% !important;
    & .read-more{
      padding: 12px !important;
      font-size: 15px;
      width: 180px;
      margin-top: 0em;
    }
    & .blog-post-text{
      & p{
        font-size: 0.5rem;
      }
    }
    & .blog-post-text{
      padding-left: 12%;
      & .blog-post-header{
        font-size: 2rem;
      }
    }
    & .blog-post-image
    {
      height: 100%;
      width: 21em;
      bottom: 0.5em;
      z-index: 5;
      left: -16em;
      & img.attachment-full.size-full.wp-post-image
      {
        height: 100%;
      }
    }
  }


  .blogs-page-container {
    & .blogs-page-container-header {
      & .blogs-header
      {
        font-size: 5rem;
        padding: 1.5em 0;
      }
      & .small-typewriter-container{
        & .blue-semi-circle{
          top: 0.5em;
          left: 35%;
          width: 13%;
        }
        & .zigzag-line-5{
          top: 9em;
          left: 36%;
          width: 5%;
        }
        & .zigzag-line-6{
          top: 10em;
          left: 34.3%;
          width: 5%;
        }
      }
      & .header-images{
        & img{
          &.blue-semi-circle-2{
            top: 13%;
            right: 50%;
            z-index: 0;
            width: 30%;
          }
          &.dark-blue-circle{
            top: 27%;
            left: 29%;
          }
          &.orange-line-1{
            top: 18%;
            left: 21%;
          }
          &.orange-line-2{
            top: 21%;
            left: 27%;
          }
        }
      }
    }

    & .featured-articles-title{
      font-size: 4rem;
    }
    & .featured-articles-slide{
      & .read-more{
        padding: 12px !important;
        font-size: 15px;
        width: 180px;
        margin-top: 0em;
      }
      & .blog-post-text{
        & p{
          font-size: 0.5rem;
        }
      }
    }
    & .featured-articles-slider{
      & .featured-articles-slide{
        & .blog-post-text{
          padding-left: 12%;
          & .blog-post-header{
            font-size: 1.5rem;
          }
          & p{
            font-size: 0.5rem;
          }
        }
        & .blog-post-image
        {
          height: 100%;
          width: 21em;
          bottom: 0.5em;
          z-index: 5;
          left: -18em;
          & img.attachment-full.size-full.wp-post-image
          {
            height: 100%;
          }
        }
        & .read-more{
          padding: 12px !important;
          font-size: 15px;
          width: 180px;
          margin-top: 0em;
        }
      }
    }
    & .latest-articles-section
    {
      & .latest-articles-header{
        font-size: 4rem;
      }
      & .latest-articles-container
      {
        & .articles-container
        {
          width: 60%;
        }
      }

    }

  }
}



////////////////////////////////archive blogs/////////////////////////////////////////


//single blog/////


.single-blogs-page-container{
  margin-top: -7em;
  padding: 0 0 0 0;


  & .share-social-media{
    line-height: normal;
    font-size: 2rem;
    width: 50%;
    font-family: $main-font;
    & .sd-sharing-enabled{
      & h3{
        display: none;
        font-size: 2rem;
        font-family: $main-font;
        font-weight: 100;
        margin: 0;
        &:before{
          content: unset;
          border:none;
          margin: 0;
        }
      }
      & .sd-content{
        & a{
          padding: 0.8em;
          &:before{
            font-size: 2rem;
          }
          &:hover{
            padding: 0.8em;
          }
        }
        & .share-custom-quora{
          & a{
            padding: 1.3em !important;
            background: url(https://cdn3.iconfinder.com/data/icons/popular-services-brands/512/quora-512.png);
            background-size: contain;
            background-repeat: no-repeat;
            top: 15px !important;
            &:hover{
              padding: 1.3em;
            }
          }
          & span{
            background: none;
          }
        }
      }
    }
    & .icon-container{
      background-color: blue;
      border-radius: 50%;
      padding: 0.4em;
      // padding-top: 2em;
      // padding-bottom: 1.5em;
      // padding-right: 0.9em;
      margin: 1em 0.1em;
      text-align: center;
      color: white;
      display: inline-block;
      text-align: center;
      font-size: initial;
      &:first-child{
        margin-left: 0;
      }
      & i{
        font-size: 1.2rem;
        &:before{
          color: white;
        }
        // &:last-child :before{
        //   color: #4a4a4a;
        // }

      }
      &.facebook
      {
        background-color: #4e598f;
      }
      &.gplus{
        background-color: #cf4c3c;
      }
      &.linkedin{
      background-color:  #4376b1
      }
      &.pinterest
      {
        background-color: #862328;
      }
      &.twitter{
        background-color: #65a2d9;
      }
      &.quora{
        background-color: #b0271e;
      }
      &.instagram{
        background-color: #6c27b3;
      }
      &.link{
        background-color: #cdcdcd;
      }
    }
  }


  & .single-blogs-page-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5em;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    // transform: scale(0.8);
  }
  & .single-blog{
    background-color: white;
    margin-top: -30em;
  }
  & .single-blogs-blog-header{
    position: relative;
    padding: 8em;
    // margin-top: -30em;
    // background-color: white;
    & .author-avatar{
      position: absolute;
      // top: 0;
      background-color: white;
      padding: 1.5em;
      border-radius: 50%;
      top: -6em;
      left: 8em;
      z-index: 3;
      & .author-image{

        border: 3px solid $baby-blue-color;
        border-radius: 50%;
      }
      & .purple-line{
        position: absolute;
        &-1{
          top: -3em;
          left: -2em;
          z-index: -1;

        }
        &-2{
          top: -1em;
          left: -1em;
          width: 40%;
        }
        &-3{
          bottom: 0em;
          left: 11em;
          z-index: -1;
        }
        &-4{
          bottom: 0.5em;
          left: 10em;
          width: 40%;
        }
      }
      & .zigzag{
        position: absolute;
        width: 30%;
        &-1{
          z-index: -1;
          bottom: 4em;
          left: -0.5em;
        }
        &-2{
          bottom: 3em;
          left: 1em;
        }
      }

    }
    & .blog-post-title{
      color: $title-color;
      font-family: $title-font;
      font-size: 5rem;
    }
    & .blog-post-info{
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #9b9b9b;
      padding-bottom: 1em;
      & .author-details{
        font-size: 2rem;
        width: 50%;
        font-family: $main-font;
        & span{
          font-family: $medium-font;
          color: $indigo;
          font-size: 1.7rem;
        }
      }

    }
  }
  & .single-blogs-blog-content{
    padding: 0 8em;
    & .introduction{
      padding-bottom: 3em;
      text-align: justify;
      & p:first-child{
        font-size: 1.5rem;
        color: black;
        font-family: $medium-font;
      }
      & p{
        color: #4a4a4a;
        font-family: $main-font;
        font-size: 1.4rem;
      }
    }
    & .topic{
      padding: 2em 0;
      & .topic-title{
        font-family: $title-font;
        color: $title-color;
        letter-spacing: 1.2px;
      }
      & .subtopics{

        & .subtopic{
          padding: 1.5em 0;
          & .subtopic-title{
            color: $indigo;
            font-family: $title-font;
            letter-spacing: 1.4px;
            font-size: 2rem;
          }
          // & .subtopic-content{
            & .subtopic-text{
              font-family: $main-font;
              color: #4a4a4a;
              letter-spacing: 0.8px;
              text-align: justify;
              font-size: 1.4rem;
            }
            & .subtopic-image{
                padding: 3em 0;
              & img{
                display: block;
                margin: 0 auto;
                box-shadow: 0px 2px 130px 8px rgba(0, 0, 0, 0.15);
              }
              & .image-title{
                display: block;
                text-align: center;
                font-family: $main-font;
                color: $indigo;
              }
            }
          // }
        &-with-right-aligned-image{
         & .subtopic-content{
           display: flex;
           flex-wrap: wrap;
           & .subtopic-text{
             width: 55%;
             & p{
               line-height: 1.8;
             }
           }
           & .subtopic-image{
             padding: 0;
             width: 45%;
             & img{
               width: 70%;
               box-shadow: 0px 2px 130px 8px rgba(0, 0, 0, 0.15);
             }
           }
         }
        }
        &-with-large-bottom-aligned-image{
            & .subtopic-content{
              & .subtopic-image{
                & img{
                  width: 100%;
                }
              }
            }
        }
        &-with-large-top-aligned-image{
          & .subtopic-content{
            & .subtopic-image{
              & img{
                width: 100%;
              }
            }
          }
        }
        &-with-several-images{
          & .subtopic-content{
            & .subtopic-images{
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;
              // padding: 1em 0;
            & .subtopic-image{
              // width: 100%;
              flex: 1;
              padding-right: 3em;
              &:last-child{
                padding-right: 0;
              }
              & img{
                width: 90%;
              }
            }
          }
        }
      }
        &-with-quote{
            & .subtopic-content{
              & .quote{
                position: relative;
                display: block;
                text-align: center;
                padding: 5em;
                & .mark{
                  position: absolute;
                  z-index: -1;
                }
                & .open-quote{
                  left: 20%;
                  top: 10%;
                }
                & .close-quote{
                  right: 20%;
                  bottom: 20%;
                }
                & .quote-text{
                  font-family: $medium-font;
                  color: #4a4a4a;
                  letter-spacing: 1px;
                  font-size: 3rem;
                }
                & .quote-author{
                  font-family: $medium-font;
                  color: $indigo;
                  letter-spacing: 1px;
                }
              }
            }
        }
      }
      }
    }
  }
  & .blog-footer{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 8em;
    padding: 4em 0;
    border-top: 1px solid #9b9b9b;
    & .enjoyed-article{
      flex:1;
      color: $title-color;
      font-family: $title-font;
      border-right: 1px solid #9b9b9b;
    }
    & .share-social-media{
      flex: 6;
      padding-left: 2em;
      & .sd-title{
        display: none;
      }
      & .icon-container{
        & i{
          font-size: 1.5rem;
        }
      }
    }
    .blog-scrollButton{
      .button.scroll-top{
        bottom: 4%;
      }
    }
  }
  & .blog-controls{
    background-color: rgba(170, 170, 170, 0.15);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5em;
    & img:not(.zigzag){
      // width: 40%;
      height: 100%;
      width: -webkit-fill-available;
    }
    & .prev-next-post-title{
      flex:1;
      padding: 0 2em;
      & a:not(.prev-next-artcile){
      font-family: $title-font;
      color: $title-color;
      font-size:3.5rem;
        }
    }

    & .prev-next-artcile{
      display: block;
    }

    & .next-post{
      display: flex;
      // flex:1;
      width: 50%;
      padding-left: 1em;
      & .post-image{
        position: relative;
        flex:1;
        border:5px solid $baby-blue-color;
        & .zigzag{
          position: absolute;
          &-1{
            top: -1.5em;
            left: 0.5em;
          }
          &-2{
            top: 0.5em;
            left: 2em;
          }
          &-3{
            bottom: 0.5em;
            right: 1.5em;
          }
          &-4{
            bottom: -1.5em;
            right: 0;
          }
        }
      }
      & .prev-next-post-title{
        text-align: left;
      }
      & .prev-next-artcile{
        margin-right:auto;
      }
    }
    & .previous-post{
      display: flex;
      // flex: 1;
      width: 50%;
      padding-right: 1em;
        & img{
          filter: blur(3px);
        }
        & .post-image{
          flex:1;
          border:5px solid $baby-blue-color;
        }
        & .prev-next-post-title{
          text-align: right;
        }
        & .prev-next-artcile{
          margin-left: auto;
        }
    }
  }

}
 .single-blogs{
  & footer{
    display: none;
  }
}
@media only screen and (min-width:1340px) and (max-width:1904px) {
  .single-blogs-page-container{
    & .single-blog{
      margin-top: -25em;
    }
   & .single-blogs-blog-header{
     padding-bottom: 4em;
      & .blog-post-title{
      font-size: 3.2rem;
      }
      & .blog-post-info
      {
        & .author-details{
          font-size: 1.5rem;
        }
        & .share-social-media{
          font-size: 1.5rem;
        }
      }
    }
    & .single-blogs-blog-content{
    & .topic
      {
        & .subtopics
        {
        & .subtopic-with-quote{
            & .subtopic-content {
            & .quote{
              & .quote-text{
                font-size: 2rem;
              }
              & .open-quote{
                    left: 15%;
                 }
             & .open-quote{
                 right: 15%;
                }
              }
            }
          }
        }
      }
    }
    & .blog-footer{
      & .share-social-media{
        flex:4;
      }
    }
    & .blog-controls{
      & .prev-next-post-title a:not(.prev-next-artcile){
          font-size: 2.5rem;
      }
    }
  }
}
