.cute_scroll::-webkit-scrollbar
{
  width: 10px;
  background-color: #643f91  ;
}

.cute_scroll::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px #f06292 ;
  border-radius: 10px;
  background-color: #8b73a994;
  border-left: 3px solid white;
  border-right: 3px solid white;
}

.cute_scroll::-webkit-scrollbar-thumb
{
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 px #ad1457 ;
  background-color:#643f91;

}
.products-page-container{

  margin-top: -7em;
  padding: 0 0 0 0;
  & .products-page-container-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5em;
    padding-right: 0.5em;
    padding-top: 10em;
    height: 101vh;
    & .products-header{
      font-family:$title-font;
      flex:1;
      font-size: 8rem;
      padding: 0.5em 0;
    }
    & .header-images{
      flex:1.5;
      display: block;
      text-align: right;
      padding-top: 3em;
      & img{
        display: inline-block;
        &.last-rocket, &.empty-rocket{
          position: relative;
          z-index: 0;
        }
        &.last-rocket{
          right: 6em;
      /* height: 42em; */
      bottom: 1.5em;
        }
        &.empty-rocket{
          left: 6.2em;
          top: -1em;
          z-index: -1;
        }
      }

    }

  }
  & .main-container{
    padding: 0;
    margin:0;
    max-width: unset;
    & aside{
      display: none;
    }
    & .main-grid{
      width: 100%;
      display: block;
      margin: 0;

      & .main-content{
          display: flex;
          margin: 0;
          // padding-top: 15px;
          flex-wrap: wrap;
          padding: 15px 2em 0 2em;
          & .main-content__filter-section{
            padding: 2em 1em;
            width: 20%;
            & .search-bar{
              padding: 2em 0;
              display: flex;
              & input{
                box-shadow: none;
                border: none;
                border-bottom: 1px solid #e6e6e6;
                transition: border-bottom-color 0.3s linear;

                &::placeholder{
                  color: $title-color;
                  letter-spacing: 1px;
                  font-family: $title-font;
                  font-size: 1.7rem;
                }
                &:focus{
                  border-bottom-color: $title-color;
                  &::placeholder{
                        font-size: 0;
                    }
                }
              }
              & .search-button{
                margin-left: -2.5em;
              & img{

                }
              }
            }
          & .filter-menu{
            flex:1;
            position: unset;
            width: auto;
            & h3{
              letter-spacing: 2px;
            }
            & a{
              font-family: 'DIN-Regular';
            }
          }
        }
          & .products-whole-section{
            flex:5;
            display: flex;
            // flex-basis: 33%;
            flex-wrap: wrap;
            // margin-top: -10em;
            padding: 5em;
            padding-right: 0;
            height: 76vh;
            overflow-y: scroll;

            & .product-section{
                display: flex;
                flex-wrap: wrap;
                width: 45%;
                height: auto;
                margin: 3em 1em;
                // margin-bottom: -25em;

                & .product-section__post__image{
                  display: flex;
                  flex:1;
                  // position: relative;
                  & .product_image{
                    position: relative;
                    & .wp-post-image{
                      width: 85%;
                      height: 33em;
                    }

                    z-index: 4;

                    & .line-image{
                      position: absolute;
                      left: -2em;
                      top: 2em;
                      z-index: 3;
                      height: 29em;
                    }
                    & .circles-image{
                      position: absolute;
                      right: -3em;
                      top: -3em;
                      z-index: -1;
                    }
                    & .orange-circle-image{
                      position: absolute;
                      bottom: -1em;
                      left: -2em;
                      z-index: -1;
                    }
                    & .zigzag-image{
                      position: absolute;
                      bottom: 4em;
                      right: 0em;
                      z-index: -1;
                    }
                    & .zigzag-image-2{
                      position: absolute;
                      bottom: 2.5em;
                      right: 0.4em;
                      z-index: 5;
                    }
                  }
                  & .product_image_desktop{
                    position: relative;
                    left: -2em;
                    & .wp-post-image{
                      height: 33em;
                      width: 100%;
                    }

                    z-index: 4;

                    & .line-image{
                      position: absolute;
                      left: -0.5em;
                      top: 1.5em;
                      z-index: 3;
                      height: 24em;
                      transform: rotate(-5.5deg);
                    }
                    & .circles-image{
                      position: absolute;
                      right: -0.5em;
                      top: -2em;
                      z-index: -1;
                    }
                    & .orange-circle-image{
                      position: absolute;
                      bottom: 2em;
                      left: 2em;
                      z-index: -1;

                    }
                    & .zigzag-image{
                      position: absolute;
                      bottom: 4em;
                      right: 6em;
                      z-index: -1;
                    }
                    & .zigzag-image-2{
                      position: absolute;
                      bottom: 2.5em;
                      right: 6.5em;
                      z-index: 5;
                    }
                  }

                }
                & .product-info{
                  margin: auto 0;
                  // padding: 2em;
                  // border:2px solid black;
                  border-left: none;
                  // background-color: #f7f7f7;
                  position: relative;
                  left: -3em;
                  margin-bottom: 2em;
                  transition: margin-bottom 0.5s linear;
                  &.box{
                    padding: 1em 2em;
                  & .box__title{
                    & a{
                      color: unset;
                    }
                  }
                  }
                  & .products{
                    padding-top: 0;
                  }
                  & .view-details-button{
                    // display: none;
                    position: absolute;
                    opacity: 0;
                    transition: opacity 0.5s linear;
                    // visibility: hidden;
                    // opacity: 0;
                    // transition: visibility 0s, opacity 0.5s linear;
                  }
                  & h2{
                    margin-top: 0.5em;
                    vertical-align: middle;
                    // font-family: $title-font;
                  }
                  &:hover{
                    // margin-bottom: 5;
                    & .view-details-button{
                      // visibility: visible;
                      position: static;
                      opacity: 1;
                      // display: block;
                    }
                  }

            }
            & .product-info-desktop{
              margin: auto 0;
              border-left: none;
              position: relative;
              left: -3em;
              margin-bottom: 2em;
              transition: margin-bottom 0.5s linear;
              &.box{
                padding: 1em 2em;
              & .box__title{
                & a{
                  color: unset;
                }
              }
              }
              & .products{
                padding-top: 0;
              }
              & .view-details-button{
                // display: none;
                position: absolute;
                opacity: 0;
                transition: opacity 0.5s linear;
                // visibility: hidden;
                // opacity: 0;
                // transition: visibility 0s, opacity 0.5s linear;
              }
              & h2{
                margin-top: 0.5em;
                vertical-align: middle;
                  // font-family: $title-font;
              }
              &:hover{
                // margin-bottom: 5;
                & .view-details-button{
                  // visibility: visible;
                  position: static;
                  opacity: 1;
                  // display: block;
                }
              }

        }
          }
          }

      }
    }
  }
}

@media only screen and (min-width:1340px) and (max-width: 1904px) {
.products-page-container{
  & .products-page-container-header{
    & .products-header{
      font-size: 5rem;
    }
    & .header-images{
      & img{
      &.empty-rocket{
        width: 25%;
        left: 4.3em;
        top: 1.3em;
        z-index: -1;
        position: relative;
      }
      &.middle-rocket{
        position: relative;
        top: 2em;
        right: -0.2em;
        width: 30%;
      }
      &.last-rocket{
        right: 3.7em;
        height: 95%;
        bottom: 0em;
        width: 30%;
      }
    }
    }
  }


  & .main-container{
   & .main-grid {
   & .main-content {
  & .products-whole-section{
  &  .product-section  {
    & .product-section__post__image{
    & .product_image{
      & .wp-post-image{
        width: 100%;
        height: 22em;
      }
      & .line-image{
        left: -1.5em;
      height: 19em;
      }
      & .zigzag-image{
        right: -3em;
      }
      & .zigzag-image-2{
        right: -1.6em;
      }

    }
  }
  &  .product-info.box{
    left: -1em;
      & .box__title{
        & a{
            font-size: 3rem;
          }
          }

        }
        & .product-section__post__image{
          & .product-info-desktop{
              & .box__title {
                & a{
                  font-size: 3rem;
                }
              }
          }
          & .product_image_desktop{
            & .wp-post-image{
              height: 26em;
            }
            & .zigzag-image{
              right: 2em;
            }
            & .zigzag-image-2{
              right: 1.5em;
            }
            & .line-image{
              height: 19em;
              transform: rotate(-3.5deg);
            }
          }
      }
      }
    }
  }
  }
  }
  }
}
