body.search{
  & #search-results{
    display: block;
    & .load-more{
      display: block;
      margin: 0 auto;
      text-align: center;
      font-size: 30px;
      width: 270px;
    }
    & .pagination{
      display: none;
    }
  }
  & .latest-articles-container{
    padding: 5em;
  }
  & .entry-title{
    padding: 1.7em;
    padding-bottom: 0;
  }
  & .products-filters{
    display: flex;
    justify-content: space-between;
    padding: 5em;
  & .main-content__filter-section{
    padding: 2em 1em;
    width: 15%;
    & .search-bar{
      padding: 2em 0;
      display: flex;
      & input{
        box-shadow: none;
        border: none;
        border-bottom: 1px solid #e6e6e6;
        transition: border-bottom-color 0.3s linear;

        &::placeholder{
          color: $title-color;
          letter-spacing: 1px;
          font-family: $title-font;
          font-size: 1.7rem;
            line-height: 1.2;
        }
        &:focus{
          border-bottom-color: $title-color;
          &::placeholder{
                font-size: 0;
            }
        }
      }
      & .search-button{
        margin-left: -2em;
        margin-top: -1em;
      & img{
          width: 60%;
        }
      }
    }
    & ul#filter-ul{
      height: unset;
      overflow: visible;
    }
  & .filter-menu{
    flex:1;
    position: unset;
    width: auto;
    & h3{
      letter-spacing: 1px;
    }
    & a{
      // font-family: 'DIN-Regular';
      // font-family: $main-font;
        font-family: 'Cabin-Regular';

    }
  }
}
  & .products-whole-section{
    flex:5;
    display: flex;
    // flex-basis: 33%;
    flex-wrap: wrap;
    // margin-top: -10em;
    padding: 5em;
    padding-right: 0;
    height: 76vh;
    overflow-y: scroll;

    & .product-section{
        display: flex;
        flex-wrap: wrap;
        width: 45%;
        height: auto;
        margin: 3em 1em;
        // margin-bottom: -25em;

        & .product-section__post__image{
          display: flex;
          flex:1;
          // position: relative;
          & .product_image{
            position: relative;
            left: 2em;
            & .wp-post-image{
              width: 80%;
              height: 27em;
            }

            z-index: 4;

            & .line-image{
              position: absolute;
              left: -2em;
              top: 2em;
              z-index: 3;
              height: 24em;
            }
            & .circles-image{
              position: absolute;
              right: -3em;
              top: -3em;
              z-index: -1;
            }
            & .orange-circle-image{
              position: absolute;
              bottom: -1em;
              left: -2em;
              z-index: -1;
            }
            & .zigzag-image{
              position: absolute;
              bottom: 4em;
              right: 0em;
              z-index: -1;
            }
            & .zigzag-image-2{
              position: absolute;
              bottom: 2.5em;
              right: 0.4em;
              z-index: 5;
            }
          }
          & .product_image_desktop{
            position: relative;
            left: -2em;
            & .wp-post-image{
              height: auto;
              width: 100%;
              bottom: -11em;
              position: relative;
            }

            z-index: 4;

            & .line-image{
              position: absolute;
              left: 0.5em;
              top: 12.5em;
              z-index: 3;
              height: 11em;
              transform: rotate(-11.5deg);
            }
            & .circles-image{
              position: absolute;
              right: -0.5em;
              top: 6em;
              z-index: -1;
            }
            & .orange-circle-image{
              position: absolute;
              bottom: 0em;
              left: 2em;
              z-index: -1;

            }
            & .zigzag-image{
              position: absolute;
              bottom: 2em;
              right: 6em;
              z-index: -1;
            }
            & .zigzag-image-2{
              position: absolute;
              bottom: 0.5em;
              right: 6.5em;
              z-index: 5;
            }
          }

        }
        & .product-info{
          margin: auto 0;
          // padding: 2em;
          // border:2px solid black;
          // border-left: none;
          // background-color: #f7f7f7;
          position: relative;
          left: -3em;
          margin-bottom: 2em;
          transition: margin-bottom 0.5s linear;
          &.box{
            padding: 4em 2em;
          & .box__title{
            & a{
              color: unset;
            }
          }
          }
          & .products{
            padding-top: 0;
          }
          & .view-details-button{
            // display: none;
            position: absolute;
            opacity: 0;
            transition: opacity 0.5s linear;
            // visibility: hidden;
            // opacity: 0;
            // transition: visibility 0s, opacity 0.5s linear;
          }
          & h2{
            margin-top: 0.5em;
            vertical-align: middle;
            // font-family: $title-font;
          }
          // &:hover{
            // margin-bottom: 5;
            & .view-details-button{
              // visibility: visible;
              position: static;
              opacity: 1;
              // display: block;
            }
          // }

    }
    & .product-info-desktop{
      margin: auto 0;
      // border-left: none;
      position: relative;
      left: -3em;
      margin-bottom: 2em;
      transition: margin-bottom 0.5s linear;
      &.box{
        padding: 4em 2em;
      & .box__title{
        & a{
          color: unset;
        }
      }
      }
      & .products{
        padding-top: 0;
      }
      & .view-details-button{
        // display: none;
        position: absolute;
        opacity: 0;
        transition: opacity 0.5s linear;
        // visibility: hidden;
        // opacity: 0;
        // transition: visibility 0s, opacity 0.5s linear;
      }
      & h2{
        margin-top: 0.5em;
        vertical-align: middle;
          // font-family: $title-font;
      }
      // &:hover{
        // margin-bottom: 5;
        & .view-details-button{
          // visibility: visible;
          position: static;
          opacity: 1;
          // display: block;
        }
      // }

}
  }
  }
}
}

//medium screens
@media only screen and (min-width: 1340px) and (max-width:1520px){
  body.search{
    & #search-results{
    & .load-more{
      font-size: 25px;
    }
  }
    & .latest-articles-container{
      & .main-content__filter-section{
        width: 18%;
        & .filter-menu{
          & a{
            font-size: 1.4rem;
          }
        }
      }
     & .articles-container{
      & .article{
       & .featured-articles-slide{
        & .blog-post-image{
          width: 60%;
          left: -18em;
          }
        }
      }
     }
    }


    & .products-filters{
      & .main-content__filter-section{
        width: 18%;
        & .filter-menu{
          & a{
            font-size: 1.4rem;
          }
        }
      }
 & .products-whole-section{
 &  .product-section  {
   & .product-section__post__image{
   & .product_image{
     left: 0;
     & .wp-post-image{
       width: 100%;
       // height: 22em;
       // height: 23em;
       height: -webkit-fill-available;
     }
     & .line-image{
       left: -1.5em;
       height: -webkit-fill-available;
     }
     & .zigzag-image{
       right: -3em;
     }
     & .zigzag-image-2{
       right: -1.6em;
     }

   }
 }
 &  .product-info.box{
   left: -1em;
   padding: 2em;
     & .box__title{
           font-size: 4rem;
         }
         & .view-details-button{
           font-size: 15px;
           width: 170px;
         }

       }
       & .product-section__post__image{
         & .product-info-desktop{
           padding: 2em;
           left: -1.3em;
             & .box__title {

                 font-size: 4rem;

             }
             & .view-details-button{
               width: 170px;
               font-size: 15px;
             }
         }
         & .product_image_desktop{
           bottom: 4em;
           top: unset;
           left: 0;
           & .wp-post-image{
             // height: 26em;
             height: 14em;
             // bottom: unset;
           }
           & .zigzag-image{
             right: 2em;
             bottom: -4em;
           }
           & .circles-image{
             width: 55%;
             top:9em;
           }
           & .zigzag-image-2{
             right: 2.5em;
             bottom: -5.5em;
           }
           & .orange-circle-image{
             bottom: -5em;
           }
           & .line-image{
             height: 11em;
             top:12em;
             left: 0;
             transform: rotate(-7.5deg);
           }
         }
     }
     }
   }
 }


    // & .products-filters{
    //   &  .products-whole-section  {
    //       overflow-x: hidden;
    //     &  .product-section{
    //       & .product-info.box{
    //         padding: 3em 2em;
    //         left: -1em;
    //         & .box__title{
    //           font-size: 4rem;
    //         }
    //       }
    //         & .product-section__post__image{
    //           & .product_image{
    //             left: 0;
    //           & .wp-post-image{
    //             // height: 22em;
    //             height: -webkit-fill-available;
    //             width: 100%;
    //           }
    //           & .line-image{
    //             left: -1em;
    //             top: 2em;
    //             height: 19em;
    //           }
    //           & .circles-image{
    //             right: -3em;
    //             top: -3em;
    //           }
    //           & .zigzag-image{
    //             bottom: 4em;
    //             right: -3em;
    //           }
    //           & .zigzag-image-2{
    //             bottom: 2.5em;
    //             right: -1.6em;
    //           }
    //         }
    //         }
    //
    //       &  .product-info-desktop.box{
    //           left: -4em;
    //           & .box__title{
    //             font-size: 4rem;
    //           }
    //         }
    //         & .product-section__post__image
    //         {
    //         & .product_image_desktop{
    //             & .wp-post-image{
    //               height: 22em;
    //             }
    //             & .line-image{
    //               left: -0.5em;
    //               top: 1.5em;
    //               z-index: 3;
    //               height: 16em;
    //             }
    //             & .circles-image{
    //               width: 80%;
    //               right: -2.5em;
    //               top: -3em;
    //             }
    //             & .zigzag-image{
    //               bottom: 3em;
    //               right: 1em;
    //             }
    //             & .zigzag-image-2{
    //               bottom: 2em;
    //               right: 2.5em;
    //             }
    //           }
    //         }
    //       }
    //     }
    // }
  }
}
//medium screens
@media only screen and (min-width: 1521px) and (max-width:1800px){
  body.search{
    & .latest-articles-container{
     & .articles-container{
      & .article{
       & .featured-articles-slide{
        & .blog-post-image{
          width: 55%;
          left: -20em;
          }
        }
      }
     }
    }
    & .products-filters{
      &  .products-whole-section  {
          overflow-x: hidden;
        &  .product-section{
          & .product-info.box{
            padding: 2em 2em;
            left: -1em;
            & .box__title{
              font-size: 4rem;
            }
          }
            & .product-section__post__image{
              & .product_image{
                left: 1em;
                bottom: 1em;
              & .wp-post-image{
                height: -webkit-fill-available;
                width: 90%;
              }
              & .line-image{
                left: -1em;
                top: 2em;
                height: 19em;
              }
              & .circles-image{
                right: 0em;
                top: -3em;
                width: 50%;
              }
              & .zigzag-image{
                bottom: 4em;
                right: -3em;
              }
              & .zigzag-image-2{
                bottom: 2.5em;
                right: -1.6em;
              }
            }
            }

          &  .product-info-desktop.box{
              left: -4em;
              padding: 2em 2em;
              top: 1em;
              & .box__title{
                font-size: 4rem;
              }
            }
            & .product-section__post__image
            {
            & .product_image_desktop{
              bottom: -10em;
                & .wp-post-image{
                  height: auto;
                  bottom: unset;
                }
                & .line-image{
                  left: 0em;
                  top: 0.5em;
                  transform: rotate(-11.5deg);
                  z-index: 3;
                  height: 8em;
                }
                & .circles-image{
                  width: 60%;
                  right: -0.5em;
                  top: -3em;
                }
                & .zigzag-image{
                  bottom: 9em;
                  right: 1em;
                }
                & .orange-circle-image{
                  bottom: 8em;
                }
                & .zigzag-image-2{
                  bottom: 10em;
                  right: 2.5em;
                }
              }
            }
          }
        }
    }
  }
}
////medium screens




@media only screen and (min-width:1025px) and (max-width: 1339px) {

    body.search{
          & .main-content{
            & .latest-articles-section
            {
              padding: 0 3em;
            }
              & .latest-articles-header{
                font-size: 2rem;
              }
              & .latest-articles-container
              {
                & .main-content__filter-section{
                  width: 18%;
                }
                & .articles-container
                {
                  width: 60%;
                  & .article{
                    & .featured-articles-slide{
                      & .blog-post-image{
                        width: 65%;
                        left: -16em;
                      }
                      & .blog-post-text{
                        & .blog-post-header{
                          font-size: 2.5rem;
                          line-height: 0.9;
                          width: 90%;
                        }
                        & .blog-post-content{
                          font-size: 1.25rem;
                          line-height: 1.1;
                          // margin-bottom: 0;
                          margin: 0.7em 0;
                        }
                      }
                      & .read-more{
                        margin-top: 0em;
                      }
                    }
                  }
                }
              }

          }
          & .main-container{
           & .main-grid {
           & .main-content {
             padding: 2em;
          & .products-filters{

            padding: 0;
            & .main-content__filter-section{
              & .filter-menu{
                & h3{
                  font-size: 20px;
                }
                & a{
                  font-size: 1rem;
                  &:before{
                    // font-size: 15px;
                  }
                }
                & .accordion-title{
                  &:before{
                    font-size: 1.5rem;
                  }
                }
              }
            }
       & .products-whole-section{
           height: 70vh;
       &  .product-section  {
         & .product-section__post__image{
         & .product_image{
           left: 0;

           & .wp-post-image{
             width: 100%;
             // height: 22em;
             height: auto;
           }
           & .line-image{
             left: -1.5em;
             // height: 23em;
             top: 1em;
             height: 85%;
           }
           & .zigzag-image{
             right: -3em;
             bottom: -2em;
           }
           & .zigzag-image-2{
             right: -1.6em;
             bottom: -1em;
           }
           & .orange-circle{
             bottom: -4em;
           }
           & .circles-image{
             width: 80%;
           }

         }
       }
       &  .product-info.box{
         left: -1em;
         padding: 2em;
           & .box__title{
                 font-size: 3.5rem;
               }
               & .view-details-button{
                 font-size: 15px;
                 width: 130px;
               }

             }
             & .product-section__post__image{
               & .product-info-desktop{
                 padding: 2em;
                 left: -1.3em;
                   & .box__title {

                       font-size: 3.5rem;

                   }
                   & .view-details-button{
                     width: 130px;
                     font-size: 15px;
                   }
               }
               & .product_image_desktop{
                 // bottom: -6em;
                 left: 0;
                 top: unset;
                 & .wp-post-image{
                   height: 10em;
                   // bottom: unset;
                 }
                 & .circles-image{
                   width: 80%;
                   top: 5em;
                 }
                 & .zigzag-image{
                   right: 0em;
                   bottom: -2em;
                 }
                 & .zigzag-image-2{
                   right: 1.5em;
                   bottom: -1em;
                 }
                 & .orange-circle-image{
                   bottom: -2em;
                 }
                 & .line-image{
                   height: 8em;
                   left: 0;
                   transform: rotate(-7.5deg);
                 }
               }
           }
           }
         }
       }
     }
   }
 }
  }
}
@media only screen and (min-width:1150px) and (max-width:1339px) {
  // .blogs-page-container{
  body.search{
    & .main-content{
      & .latest-articles-section
      {
        padding: 0 3em;
      }
        & .latest-articles-header{
          font-size: 2rem;
        }
        & .latest-articles-container
        {
          & .main-content__filter-section{
            width: 18%;
          }
          & .articles-container
          {
            width: 60%;
            & .article{
              & .featured-articles-slide{
                width: 75% !important;
                & .blog-post-image{
                  width: 65%;
                  left: -17em;
                }
                & .blog-post-text{
                  & .blog-post-header{
                    font-size: 2.5rem;
                    line-height: 0.9;
                    width: 90%;
                  }
                  & .blog-post-content{
                    font-size: 1.2rem;
                    line-height: 1.1;
                    // margin-bottom: 0;
                    margin: 0.7em 0;
                  }
                }
                & .read-more{
                  margin-top: 0em;
                }
              }
            }
          }
        }


    }

            & .products-filters{
              & .main-content__filter-section{
                & .filter-menu{
                  & h3{
                    font-size: 20px;
                  }
                  & a{
                    font-size: 1rem;
                    &:before{
                      // font-size: 15px;
                    }
                  }
                  & .accordion-title{
                    &:before{
                      font-size: 1.5rem;
                    }
                  }
                }
              }
         & .products-whole-section{
         &  .product-section  {
           & .product-section__post__image{
           & .product_image{
             left: 1em;
              bottom: 1em;
             & .wp-post-image{
               width: 100%;
               // height: 22em;
               height: auto;
             }
             & .line-image{
               left: -1.5em;
               // height: 23em;
               height: 85%;
             }
             & .zigzag-image{
               right: -3em;
             }
             & .zigzag-image-2{
               right: -1.6em;
             }
             & .circles-image{
               width: 80%;
             }

           }
         }
         &  .product-info.box{
           left: -1em;
           padding: 2em;
             & .box__title{
                   font-size: 3.5rem;
                 }
                 & .view-details-button{
                   font-size: 15px;
                   width: 130px;
                 }

               }
               & .product-section__post__image{
                 & .product-info-desktop{
                   padding: 2em 2em 0 2em;
                   left: -1.3em;
                     & .box__title {

                         font-size: 3.5rem;

                     }
                     & .view-details-button{
                       width: 130px;
                       font-size: 15px;
                     }
                 }
                 & .product_image_desktop{
                   bottom: 2em;
                   left: 0;
                   top: unset;
                   & .wp-post-image{
                     height: 10em;
                     bottom: -9em;
                     position: relative;
                   }
                   & .circles-image{
                     width: 80%;
                     top: 5em;
                   }
                   & .zigzag-image{
                     right: 0em;
                     bottom: 0.5em;
                   }
                   & .zigzag-image-2{
                     right: 1.5em;
                     bottom: -0.5em;
                   }
                   & .orange-circle-image{
                     bottom: -1em;
                   }
                   & .line-image{
                     height: 8em;
                     left: 0;
                     top: 9.5em;
                     transform: rotate(-7.5deg);
                   }
                 }
             }
             }
           }
         }
  }

}
@media only screen and (min-width:1280px) and (max-width:1339px) {
  // .blogs-page-container{
  body.search{
    & .main-content{
      & .latest-articles-section
      {
        padding: 0 3em;
      }
        & .latest-articles-header{
          font-size: 2rem;
        }
        & .latest-articles-container
        {
          & .main-content__filter-section{
            width: 18%;
          }
          & .articles-container
          {
            width: 60%;
            & .article{
              & .featured-articles-slide{
                width: 75% !important;
                & .blog-post-image{
                  width: 60%;
                  left: -16em;
                }
                & .blog-post-text{
                  & .blog-post-header{
                    font-size: 2.5rem;
                    line-height: 0.9;
                    width: 90%;
                  }
                  & .blog-post-content{
                    font-size: 1.25rem;
                    line-height: 1.1;
                    // margin-bottom: 0;
                    margin: 0.7em 0;
                  }
                }
                & .read-more{
                  margin-top: 0em;
                }
              }
            }
          }
      }
    }
  }

}








//products search responsive///
@media only screen and (max-width: 1024px) {

    body.search{
      & #search-results{
      & .load-more{
        display: block;
        margin-right: auto !important;
        margin: auto auto;
        font-size: 20px;
        width: 200px;
      }
    }
     & .main-container
    {
      & .main-grid {
        & .products-filters{
          flex-direction: column;
          padding: 2em;
          & .main-content__filter-section{
            width: unset;
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            & .search-bar{
              flex:1;
              padding: 1.25em 0;
              align-self: flex-start;
              // width: 45%;
              & input::placeholder{
                font-size: 1.4rem;
                // font-family: $din-bold;
                  font-family: 'DINCondensed-Bold';
              }
              & .search-button{
                margin-top: -1.5em;
                & img{
                  width: 65%;
                }
              }
            }
            & ul#filter-ul{
              height: unset;
              overflow: visible;
            }
            & .filter-menu-desktop{
              display: none;
            }
            & .filter-menu-mobile{
              display: block;
              flex: 1;
              padding: 0 1em;
              padding: 0.5em 1em;
              border-bottom: none;

                  & .accordion-outer{
                      position: relative;
                    & .accordion-title{
                        position: relative;
                    padding: 1rem 1rem;
                    font-size: 1.2rem;
                    letter-spacing: 1px;
                    line-height: 0.4;
                    padding: 1.3rem 1rem;
                    font-size: 1.4rem;
                    letter-spacing: 1px;
                    &::before{
                      top: 52%;
                    }
                    }
                    & .content-outer{
                      position: absolute;
                      width: 90%;
                    }
                  }
              & .accordion-title{
                border-top: none;
                color: $title-color;
                // font-family: $din-bold;
                  font-family: 'DINCondensed-Bold';
                &:focus{
                  background-color: transparent;
                }
                &:focus-within{
                  background-color: transparent;
                }
              }
              & .accordion-content{
                padding: 0;
                & .accordion-title{
                  font-family: $title-font;
                }
                & a{
                      padding: 1.25rem 1rem;
                      // font-family: $main-font;
                        font-family: 'Cabin-Regular';
                        &.reset-filters{
                          display: block;
                          color: #31006d;
                          font-size: 0.7rem;
                            padding: 1rem 0;
                        }
                }
              }
            }
          }
          & .products-whole-section{
            display: block;
            padding: 0;
            // height: auto;
            flex: none;
            // overflow:unset;
            height: 50vh;
            overflow-y: scroll;
            & .product-section{
              display: block;
              width: unset;
              margin: 3em 0;
              & .product-section__post__image{
                // display: block;
                & .box{
                  left: -1em;
                }
                & .product-info{
                  padding: 1em 3em;
                  padding-top: 2em;

                  & .box__title{
                    font-size: 2.5rem;
                  }

                  & .view-details-button{
                    display: block;
                    width: 130px;
                    font-size: 10px;
                  }


                }
                & .product-info-desktop{
                  padding: 1em 3em;
                  padding-top: 2em;
                  left: -1em;
                  & .box__title{
                    font-size: 2.5rem;
                  }
                  & .view-details-button{
                    display: block;
                    width: 130px;
                    // height: unset;
                    font-size: 10px;
                  }

                }
                & .product_image{
                  top: -1em;
                  left: 1em;
                  & .wp-post-image{
                    // height: auto;
                    height: 17em;
                    // width: 60%;
                    width: 100%;
                  }
                  & .line-image{
                    left: -1em;
                    top: 0.5em;
                    height: 90%;
                  }
                  & .circles-image{
                    right: -1em;
                    top: -1em;
                    width: 45%;
                  }
                  & .orange-circle-image{
                    bottom: 0em;
                    left: -1em;
                    width: 40%;
                  }
                  & .zigzag-image{
                    bottom: 2em;
                    right: -2.5em;
                    z-index: -1;
                    width: 40%;
                  }
                  & .zigzag-image-2{
                    bottom: 1.2em;
                    right: -1.6em;
                    z-index: 5;
                    width: 40%;
                  }
                }
                & .product_image_desktop{
                  top: unset;
                  left: 1em;
                  bottom: -5em;
                  & .wp-post-image{
                    height: 10em;
                    bottom: unset;
                  }
                  & .line-image{
                    width: 6.5%;
                    top: -8em;
                    top: -1em;
                    left: -0.2em;
                    transform: rotate(-6.5deg);
                  }
                  & .circles-image{
                    right: -0.5em;
                    top: -1em;
                    z-index: -1;
                    width: 60%;
                  }
                  & .orange-circle-image{
                    bottom: 8em;
                    left: 0em;
                    z-index: -1;
                    width: 60%;
                  }
                  & .zigzag-image{
                    bottom: 9em;
                    right: 1em;
                    z-index: -1;
                    width: 35%;
                  }
                  & .zigzag-image-2{
                    bottom: 8.5em;
                    right: 1.5em;
                    z-index: 5;
                    width: 35%;
                  }
                }
              }
            }
          }
        }
        // & .{
        & .latest-articles-section{
          padding: 0;
          & .latest-articles-header{
            padding: 2em 0.5em;
            font-size: 2.5rem;
          }
          & .load-more{
            display: block;
            margin-right: auto !important;
            margin: auto auto;
            font-size: 20px;
            width: 200px;
          }
        }
        & .main-content {
            .latest-articles-container{
              // display: none;
              flex-direction: column;
              padding: 0 1em;
              & .articles-container{
                width: unset;
                padding: 2em 0;
                & .article{
                  &:last-of-type{
                    margin-bottom: 0;
                  }
                  & .featured-articles-slide{
                    margin-left: 0;
                    margin: 0 auto;
                    width: 85% !important;
                    padding-left: 9em;
                    padding-top: 5em;
                    padding-right: 0.5em;
                    height: 19em;
                    & .blue-line-3, .blue-line-4{
                      display: none;
                    }
                    & .blog-post-image{
                      left: -1.5em;
                      width: 46%;
                      height: 85%;
                      bottom: 2em;
                      & .post-images{
                        & .orange-circle{
                          top: -2em;
                          right: 3em;
                          width: 35%;
                        }
                        & .blue-line-1{
                          top: -4em;
                          right: 3em;
                          width: 40%;
                        }
                        & .blue-line-2{
                          top: -2.5em;
                          right: 2.5em;
                          width: 40%;
                        }

                        & .zigzag-line-1{
                          top: -1em;
                          left: 0em;
                          width: 40%;
                        }
                        & .zigzag-line-2{
                          top: 0;
                          left: -1em;
                          width: 40%;
                        }
                        & .zigzag-line-3{
                          bottom: 0em;
                          right: 0em;
                          width: 40%;
                        }
                        & .zigzag-line-4{
                          bottom: -1em;
                          right: -1em;
                          width: 40%;
                        }
                      }
                    }
                    & .blog-post-text{
                      padding-left: unset;
                        & .blog-post-content{
                          display: none;
                          font-size: 0.4rem;
                        }
                        & .blog-post-header{
                          width: auto;
                          line-height: 1.1;
                          font-size: 1.7rem;
                        }
                        & .author{
                          display: none;
                        }
                    }
                    & .blog-post-details{
                      display: flex;
                      & .blog-post-date{
                        padding: 0.5em;
                        padding-top: 0.8em;
                          & br{
                            display: none;
                          }
                      }
                      & .blog-post-time{
                        padding: 0.5em;
                        flex-direction: row;
                        & span{
                          align-self: center;
                        }
                      }
                    }
                    & .read-more{
                      width: 130px;
                      margin: 1em auto;
                      margin-top: 1em;
                      margin-left: 1em;
                      font-size: 10px;
                    }
                  }
                }
              }
              & .main-content__filter-section{
                width: unset;
                display: flex;
                flex-wrap: wrap;
                padding: 0;
                & .search-bar{
                  flex:1;
                  padding: 1.25em 0;
                  align-self: flex-start;
                  // width: 45%;
                  & input::placeholder{
                    font-size: 1.4rem;
                    // font-family: $din-bold;
                    font-family: 'DINCondensed-Bold';
                  }
                  & .search-button{
                    margin-top: -1.5em;
                    & img{
                      width: 65%;
                    }
                  }
                }
                & ul#filter-ul{
                  height: unset;
                  overflow: visible;
                }
                & .filter-menu-desktop{
                  display: none;

                }

                & .filter-menu-mobile{
                  display: block;
                  display: block;
                  flex: 1;
                  border-bottom: none;
                }
                & .filter-menu{

                  // padding: 0 1em;
                  & a{
                    &.reset-filters{
                      display: block;
                      color: #31006d;
                      font-size: 0.7rem;
                      padding: 1rem 0;
                    }
                  }
                  & .accordion-outer{
                    padding: 0.7rem 0.5rem;
                    position: relative;
                    border-bottom: 1px;
                    & .accordion-title{
                      position: relative;
                      border-top: none;

                      color: $title-color;
                      //font-family: $din-bold;
                      font-family: 'DINCondensed-Bold';
                      font-size: 1.2rem;
                      line-height: 0.4;
                      display: flex;
                      justify-content: space-between;
                      &::before{
                        content: '';
                      }
                      &::after{
                        content:'+';
                        font-size: initial

                      }

                      &:focus{
                        background-color: transparent;
                      }
                      &:focus-within{
                        background-color: transparent;
                      }

                    }
                    & li.is-active{
                      & >.accordion-title::after{
                        // &#x2A2F;
                        content: '\2A2F';
                        font-size: initial;
                      }
                    }
                    & .content-outer{
                        position: absolute;
                        border-bottom: none;
                        border:none;
                        width: 91%;
                        & .accordion{
                          & .accordion-title{
                            font-size: 1rem;
                            padding: 1.25rem 1rem;
                            border-bottom: 0;
                            &:before{
                                right: 0;
                            }
                          }
                          & .accordion-content{
                            border-bottom: none;
                            border:none;
                            & a{
                              padding: 1.25rem 0.5rem;
                              font-size: 1rem;
                            }
                          }
                        }
                    }
                  }


                  & .accordion-content{
                    padding: 0;

                    & #filter-ul{
                      & a{
                        font-size: 1rem;
                      }
                    }
                  }
                }
              }
            }
          // }
        }
      }
    }
  }
}

//products search responsive///


///iphone 5

@media only screen and (width: 320px) {
  .site-navigation.top-bar
  {  display: flex;
    padding-left: 10px;
    padding-right: 10px;
    & .site-desktop-title a .logo{
      max-width: 90px;
    }
    & .page-name{
      display: none;
      width: 82px;
      height: 40px;
      text-align: left;
      padding-left: 0.5em;
      padding-top: 9px;
    }
  }

    body.search{
    & .main-container{
      & .main-grid{
        & .main-content{
          & .pagination{
            display: none;
          }

            .latest-articles-container{
              // display: none;
              & .main-content__filter-section{
                & .search-bar{
                  & input{
                    &::placeholder{
                      font-size: 0.7rem;
                    }
                  }
                  & .search-button{
                    margin-top: -1em;
                    & img{
                      width: 55%;
                    }
                  }
                }
                & .filter-menu-mobile{
                  // padding: 1.15em 1em;
                  & .accordion-outer{
                    & .accordion-title{
                      font-size: 0.7rem;
                    }
                  }
                }
              }
              & .articles-container{
                // width: unset;
                // padding: 2em 0;
                & .article{
                  & .featured-articles-slide{

                    width: 90% !important;
                    padding-left: 7em;
                    & .blog-post-text{
                    & .blog-post-header{
                      font-size: 1.5rem;
                    }
                  }
                    & .blog-post-image{
                      // height: 70%;
                      bottom: 1em;
                      left: -1em;
                      height: 75%;
                    }
                    & .read-more{

                      margin-left: 0em;

                    }
                  }
                }
              }
            }

            & .products-filters{
              padding: 2em 1em;
              & .main-content__filter-section{
                & .filter-menu-mobile{
                  // padding: 0.5em 1em;
                    padding: 1.15em 1em;
                  & .accordion-outer{
                    & .accordion-title{
                      padding: 1rem 1rem;
                    }
                  }
                }
              }
              & .products-whole-section{
                & .product-section{
                  & .product-section__post__image{
                    & .product_image{
                      & .wp-post-image{
                        height: 16em;
                        width: 90%;
                      }
                    }
                    & .product_image_desktop{
                      bottom: -3em;
                      top: unset;
                      & .wp-post-image{
                        height: 11em;
                        bottom: unset;

                      }
                      & .line-image{
                        width: 7%;
                        top: -7em;
                        top: -1em;
                        left: -0.2em;
                        transform: rotate(-5.5deg);
                      }
                      & .orange-circle-image{
                        bottom: 5em;
                        left: 0em;
                      }
                      & .zigzag-image{
                        bottom: 6.5em;
                        right: 1em;
                      }
                      & .zigzag-image-2{
                        bottom: 6em;
                        right: 2em;
                        z-index: 5;
                      }
                    }
                    & .product-info{
                      left: -0.5em;
                      padding: 1em 0em;
                      padding-top: 2em;
                      padding-left: 1em;
                      & .box__title{
                        font-size: 2rem;
                      }
                      & .view-details-button{
                        width: 130px;
                        font-size: 10px;
                      }
                    }
                    & .product-info-desktop{
                      padding: 1em 1em;
                      padding-top: 2em;
                      & .view-details-button{
                        width: 130px;
                        font-size: 10px;
                      }
                      & .box__title{
                        font-size: 2rem;
                      }
                    }
                  }
                }
              }
            }
        }
      }
    }

}
}



//galaxy s5
@media only screen and (width: 360px){
  body.search{

    & .main-container{
      & .main-grid{
        & .main-content{
          & .latest-articles-container{
            // & .latest-articles-section{
              & .articles-container{
                & .article{
                  & .featured-articles-slide{
                    padding-left: 7em;
                    & .read-more{
                      margin-left: 0;
                    }
                    & .blog-post-image{
                        bottom: 1em;
                        height: 75%;
                    }
                  }
                }
              }
            // }
          }
          & .products-filters{
            padding: 2em 1em;
            & .products-whole-section{
              & .product-section{
                & .product-section__post__image{
                  & .product_image{
                    & .wp-post-image{
                      height: 17em;
                      width: 90%;
                    }
                  }
                  & .product_image_desktop{
                    bottom: -4em;
                    top: unset;
                    & .wp-post-image{
                      height: 12em;
                      bottom: unset;

                    }
                    & .line-image{
                      width: 5%;
                      top: -7em;
                      top:-1em;
                      left: 0em;
                      transform: rotate(-7.5deg);
                    }
                    & .orange-circle-image{
                      bottom: 5em;
                      left: 0em;
                    }
                    & .zigzag-image{
                      bottom: 6.5em;
                      right: 1em;
                    }
                    & .zigzag-image-2{
                      bottom: 6em;
                      right: 2em;
                      z-index: 5;
                    }
                  }
                  & .product-info{
                    left: -0.5em;
                    padding: 1em 1em;
                    padding-top: 2em;
                    & .box__title{
                      font-size: 2.5rem;
                    }
                    & .view-details-button{
                      width: 135px;
                      font-size: 10px;
                    }
                  }
                  & .product-info-desktop{
                    padding: 1em 1em;
                    padding-top: 2em;
                    & .view-details-button{
                      width: 135px;
                      font-size: 10px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }


  }
}

//iphone 6/7/8
@media only screen and (width: 375px){
  body.search{

    & .main-container{
      & .main-grid{
        & .main-content{
          & .latest-articles-container{
            // & .latest-articles-section{
              & .articles-container{
                & .article{
                  & .featured-articles-slide{
                    padding-left: 8em;
                    & .read-more{
                      margin-left: 0;
                    }
                    & .blog-post-image{
                        bottom: 1em;
                        height: 75%;
                    }
                  }
                }
              }
            // }
          }
          & .products-filters{
            padding: 2em 1em;
            & .products-whole-section{
              & .product-section{
                & .product-section__post__image{
                  & .product_image{
                    & .wp-post-image{
                      height: 17em;
                      width: 90%;
                    }
                  }
                  & .product_image_desktop{
                    bottom: -4em;
                    top: unset;
                    & .wp-post-image{
                      height: 12em;
                      bottom: unset;

                    }
                    & .line-image{
                      width: 5%;
                      top: -7em;
                      top:-1em;
                      left: 0em;
                      transform: rotate(-7.5deg);
                    }
                    & .orange-circle-image{
                      bottom: 5em;
                      left: 0em;
                    }
                    & .zigzag-image{
                      bottom: 6.5em;
                      right: 1em;
                    }
                    & .zigzag-image-2{
                      bottom: 6em;
                      right: 2em;
                      z-index: 5;
                    }
                  }
                  & .product-info{
                    left: -0.5em;
                    padding: 1em 1em;
                    padding-top: 2em;
                    & .box__title{
                      font-size: 2.5rem;
                    }
                    & .view-details-button{
                      width: 135px;
                      font-size: 10px;
                    }
                  }
                  & .product-info-desktop{
                    padding: 1em 1em;
                    padding-top: 2em;
                    & .view-details-button{
                      width: 135px;
                      font-size: 10px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }


  }
}
//ipad
@media only screen and (min-width: 768px) and (max-width:1024px){
  body.search{
    & .main-container{
      & .main-grid{
        & .main-content{
          & .latest-articles-container
          {
            & .main-content__filter-section{
              & .filter-menu{
                & .accordion-outer{
                    & .content-outer{
                      width: 96%;
                    }
                }
              }
            }
            & .articles-container{
              & .article{
                & .featured-articles-slide{
                  width: 60% !important;
                  padding-left: 13em;
                  & .read-more{
                    margin-left: 0;
                  }
                  & .blog-post-image{
                    height: 100%;
                    bottom: 0em;
                  }
                }
              }
            }
          }

          //products
          & .products-filters{
              & .products-whole-section{
                & .product-section{
                  width: 75%;
                  margin: 3em auto;
                  & .product-section__post__image{
                    & .product_image{
                      & .wp-post-image{
                        height: auto;
                      }
                    }
                    & .product-info {
                      & .box__title{
                        font-size: 4.8rem;
                      }
                      & .view-details-button{
                        font-size: 1.2rem;
                        width: 200px;
                      }
                    }
                    & .product-info-desktop{
                      padding: 1em 2em;
                      & .box__title{
                        font-size: 4.8rem;
                      }
                      & .view-details-button{
                        font-size: 1.2rem;
                        width: 200px;
                      }
                    }
                    & .product_image_desktop{
                      bottom: -6em;
                      top: unset;
                      left: 1em;
                      & .wp-post-image{
                        height: 65%;
                        width: 100%;
                        bottom: unset;

                      }
                      & .line-image{
                        width: 5.5%;
                        top: 0.5em;
                        left: 0em;
                        transform: rotate(-8.5deg);
                      }
                      & .orange-circle-image{
                        bottom: 8em;
                        left: 0em;
                      }
                      & .zigzag-image{
                        bottom: 10em;
                        right: 2em;
                      }
                      & .zigzag-image-2{
                        bottom: 9em;
                        right: 2.5em;
                      }
                    }
                  }
                }
              }
          }
        }
      }
    }
  }
}
//ipad pro
@media only screen and (width: 1024px){
    body.search{
      & .main-container{
        & .main-grid{
          & .main-content{
            & .latest-articles-container
            {
              & .main-content__filter-section{
                & .filter-menu{
                  & .accordion-outer{
                      & .content-outer{
                        width: 96%;
                      }
                  }
                }
              }
              & .articles-container{
                & .article{
                  & .featured-articles-slide{
                    width: 50% !important;
                    & .blog-post-text{
                      & .blog-post-header{
                        font-size: 2.2rem;
                      }
                    }
                    & .blog-post-image{
                      height: 100%;
                      bottom: 0em;
                      width: 42%;
                    }
                  }
                }

              }
            }
            //products
            & .products-filters{
                & .products-whole-section{
                  & .product-section{
                    // width: 75%;
                    // margin: 3em auto;
                    & .product-section__post__image{
                      & .product_image{
                        left: 2em;
                        & .wp-post-image{
                          width: 90%;
                          height: 32em;
                        }
                        & .line-image{
                          left: -2em;
                          top: 1em;
                        }
                        & .circles-image{
                          top: -2em;
                        }
                        & .zigzag-image{
                          bottom: 2em;
                          right: -2.5em;
                        }
                        & .zigzag-image-2{
                          bottom: 0.2em;
                          right: -0.5em;
                        }
                      }
                      & .product-info {
                        & .box__title{
                          font-size: 6.5rem;
                        }
                        & .view-details-button{
                          font-size: 1.5rem;
                        }
                      }
                      & .product-info-desktop{
                        padding: 2em 2em;
                        & .box__title{
                          font-size: 6.5rem;
                        }
                        & .view-details-button{
                          font-size: 1.5rem;
                        }
                      }
                      & .product_image_desktop{
                        // bottom: -4em;
                        // top: unset;
                        // left: 1em;
                        & .wp-post-image{
                          height: 65%;
                          width: 100%;
                          bottom: unset;

                        }
                        & .line-image{
                          width: 4.5%;
                          top: 0.5em;
                          height: 15em;
                        }
                        & .orange-circle-image{
                          bottom: 8em;
                          left: 0em;
                        }
                        & .zigzag-image{
                          bottom: 12em;
                          right: 4em;
                        }
                        & .zigzag-image-2{
                          bottom: 10em;
                          right: 5.5em;
                        }
                      }
                    }
                  }
                }
            }
          }
        }
      }
    }
}
