.footer-container {
  @include xy-grid-container;
//  border-top: 1px solid $medium-gray;
    max-width: 100% !important;
  margin-top: rem-calc(60);
//  margin-bottom: -200px !important;
//padding-top: 260px;
}

.footer-grid {
  @include xy-grid;
  text-align: center;
  padding: rem-calc(30) 0;
  margin-top: 100px !important;

  section {
    @include xy-cell();
    @include breakpoint(xxxlarge) { //changed from small to xxxlarge added in _settings 2000px
      @include xy-cell(auto);
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

}

   .copy-right{
       text-align: center;
       padding-top: 10px;
      //  color: #afabab;
      color: #9b9b9b;
      letter-spacing: 0.6px;
       font-size: 18px;
       font-family: $main-font;
       @media (max-width: 64em){
          font-size: 12px;
       }
    }
//---------footer-----

footer{
    position: relative;
    margin-top: 250px;
    #nav_menu-2{
        .menu-main-container{
            width: fit-content;
            margin:auto;
            color: #003a48;
            margin-top: 10px;

            ul{
                width: fit-content;
                a{
                  color: $dark-nav-color;
                  font-size: 18px;
                  font-family: $footer-menu;
                   @media (max-width: 64em){
                      font-size: 14px;
                    }
                    @media (width: 320px){
                      font-size: 12px;
                    }
                }
                .is-active {
                a{
                    background: white;
                    color: $orange-color;
                    font-size: 20px;
                    @media (max-width: 64em){
                      font-size: 14px;
                    }
                     @media (width: 320px){
                      font-size: 12px;
                    }
                }
              }
              @media (max-width: 64em){
                text-align: center;
              }
            }
            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                   margin-left: 25% !important;
            }
        }
    }
    .input-group{
            width: 40%;
            margin: auto;
            margin-bottom: 15px;
        .input-group-field{
              border-radius: 20px 0 0 20px;
        }
        #searchsubmit{
            border-radius: 0 20px 20px 0;
        }
    }
      #input_6_2{
         border-radius: 20px ;
    }

   #gform_submit_button_6 {
        margin-top: 7px;
        height: 40px;
        border-radius:20px;
        position: absolute;
        right: 30%;
        top: 44%;
        transform: translate(0px);
        padding: 2px;
        font-size: 17px;
        background-color: $baby-blue-color;
        box-shadow: none !important;
        @media (max-width: 64em){
          right: 50px;
          top: 35%;
          width: 125px;
          height: 40px;
          font-size: 14px;
          padding: 2px !important;
        }
        @media (max-width: 40em){
          right: 19px;
          padding: 2px !important;

        }
        @media (width: 320px){
          right: 15px;
          width: 100px;
        }
   }
    .footer-grid{
        justify-content: center;
        font-family: $footer-text !important;
        font-size: 22px;
        .textwidget {
            p {
              color: #afabab;
              padding-top: 20px;
              font-size: 18px;
              margin-bottom: -20px;
              @media (max-width: 64em){
                font-size: 11px;
              }
           }
        }
        .gf_simple_horizontal_wrapper {
         max-width: 50%;
         margin: 0;
         margin-left: 30%;
      }
    }
    .newsletter{
      .medium{
        // width: 30% !important;
        // left: 30%;
        // top: 46%;
        // position: absolute;
        // @media (max-width: 64em){
        //   width: 80% !important;
        //   left: 10%;
        //   top: 37%;
        //   font-size: 12px !important;
        //   padding-left: 20px !important;
        // }
      }
    }
}
#nav_menu-2 {
  .menu-main-container {
        font-family: $footer-menu;
    ul {
          margin-top: -30px;
      li + li {
          a{
            &:before {
               color:$dark-nav-color !important;
                content: "|";
                margin-right: 30px;
                @media (width: 320px){
                  margin-right: 20px;
                }
              }
              @media(max-width: 64em){
                margin-right: 0px;
                li:last-child{
                  font-size: 20px;
                }
              }
            }
          }
        }
    }
  }
  li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-home.menu-item-46{
    color: $dark-nav-color !important;
            font-size: 18px;
  }
#media_image-2{
    max-width: 230px
}
.left{
    position: absolute;
//    top: 25%;
    left: 3%;
    width: 130px;
    &::before{
    content: "";
    position: absolute;
    top: -100px;
    left: 100px;
    width: 5px;
    height: 400px;
    background-color: #ff7900;
    transform: skew(40deg) translateX(0);
    opacity: 0;
    }
     &::after{
    content: "";
    position: absolute;
    top: -80px;
    margin-left: 20px;
    width: 5px;
    height: 220px;
    background-color: #ff7900;
    transform: skew(40deg) translateX(0);
    opacity: 0;
     @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
         left: 0;
     }
    }
    &.animate{
        &::before{
           transform: skew(40deg) translateX(-20px) !important;
            transition: all .4s ease;
            opacity: 1
        }
        &::after{
          transform: skew(40deg) translateX(-20px) !important;
          transition: all .4s ease;
          opacity: 1
        }
     }
     @media (max-width: 64em){
      display: none;
     }
    }

  .right{
    position: absolute;
    top: 47%;
    right: 2%;
    width: 200px;
    .righti{
      width: 180px;
      position: absolute;
    }
     &::before{
    content: "";
    position: absolute;
    top: -142px;
    margin-left: 10px;
    width: 5px;
    height: 324px;
    background-color: #3bbaee;
    transform: skew(40deg) translateX(0);
         opacity: 0;
    }
     &::after{
    content: "";
    position: absolute;
    top: -20px;
    left: 44px;
    width: 5px;
    bottom: 0px;
    height: 200px;
    background-color: #3bbaee;
    transform: skew(40deg) translateX(0);
         opacity: 0;
    }
    &.animate{
        &::before{
           transform: skew(40deg) translateX(20px) !important;
            transition: all .4s ease;
            opacity: 1
        }
        &::after{
          transform: skew(40deg) translateX(20px) !important;
          transition: all .4s ease;
          opacity: 1
        }
     }
     @media (max-width: 64em){
       display: none;
     }
  }
#lefl2 {
    position: absolute;
    top: 70px;
    left: 60px;
    @media (max-width: 64em){
       display: none;
     }
}
#lefl1 {
    position: absolute;
    top: 50px;
    left: 30px;
    z-index: 1;
    @media (max-width: 64em){
       display: none;
     }
}
#righl1 {
    z-index: 1;
    top: 25px;
    left: 10px;
    position: relative;
    @media (max-width: 64em){
       display: none;
     }
}
#righl2 {
    top: -10px;
    position: relative;
    @media (max-width: 64em){
       display: none;
     }
}
//----------

@media (max-width:1400px){
    .footer{
        .right{
            .righti {
                width: 165px;
            }
        }
    }
}

@media (max-width: 64em){
  img.image.wp-image-67.attachment-full.size-full{
    width: 158px;
  }
}


@media only screen and (min-width: 1600px) and (max-width:2000px) {
footer #gform_submit_button_6{
            width: 15rem;
  }

}





/////fixing footer///////

footer{
  & form#gform_6{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3rem 0;
    & .gform_body{
      width: 20%;
      & .gfield_label{
        display: none;
      }
      &  .top_label input.medium {
        width: 120%;
        position: static !important;
        border-radius: 2rem;
        // padding: 1.5rem 1rem;
        padding: 1.8rem 1.5rem;
        background: rgba(170, 170, 170, 0.25);
        border-color: transparent;
        box-shadow: none;
        &::placeholder{
          color: #4a4a4a;
          font-size: 10px;
          font-family: $main-font;
          letter-spacing: 0.5px;
        }
      }
    }
    & .gform_footer{
         /* padding: 1em 0 1em; */
         padding: 0;
        margin: 0;
        position: relative;
        top: 8px;
      & .gform_button{
        
        position: static !important;
        // padding: 1rem 0.5rem !important;
        padding: 1.2rem 1.5rem !important;
        font-size: 1.2rem;
        height: auto;
        margin: 0;
        border-radius: 2rem;
        letter-spacing: 0.67px;
        
      }
    }
  }
}