
.main-content{
	margin-left: 0 !important;
	margin-right: 0 !important;
	&__project{
		height: 95vh;
		display: flex;
		justify-content:space-between;
		&-image{
    		transform: translate(100px);
    		width: 60%;
    		height: 100vh;
    		opacity: 0;
    		img{
    			width: 100%;
    			height: 100%;
    			position: absolute;
    		}
   		 }
    	&-content{
        	width: 50%;
        	padding-top: 130px;
        	position: relative;
        	opacity: 0;
        	.entry-title{
		      color: $title-color;
		      font-family:$title-font;
		      font-size: 80px;
		      line-height: 1;
		      text-transform: capitalize;
		      @media(max-width: 40em) {
		      	font-size: 26px;
		      	text-align: center;
		      	letter-spacing: 0.3px;
		      }
		    }
		    .entry-content{
		      font-family:$main-font !important;
		      line-height: 1.2 !important;
		      font-size: 16px !important;
  			  letter-spacing: 0.8px !important;
		      color: $project-text !important;
		      @media(max-width: 40em){
		      	font-size: 12px !important;
		      	line-height: 1.33 !important;
				letter-spacing: 0.4px !important;
				text-align: justify;
		      }
		    }
		    .project-data{
		    	p{
		    		font-size: 24px;
		    		font-family: $title-font;
		    		color: $title-color;
		    		text-transform: capitalize;
		    		img{
		    			// width: 60%;
							width: auto;
		    		}
		    		@media (max-width: 64em){
		    			font-size: 15px;
		    		}
		    		@media (max-width: 40em){
		    			font-size: 13px;
		    		}
		    	}
		    	strong{
		    		font-size: 15px;
		    	}
		    	&-year{
		    		color:$opaque-color !important;
		    		margin-top: -8px;
		    	}
		    	display: flex;
		    	&-category,&-date,&-services{
		    		width: 33.3%;
		    	}
		    	.small-icon{
			    	display: flex;
			    	margin-top: -15px;
			    	img{
			    		width: 25%;
			    		height: 25%;
			    	}
			    }
		    }
   		}
   		.grouped-buttons{
   			position: absolute;
   			bottom: 5%;
   			width: 90%;
   			.button{
   				width:225px;
   				justify-content:space-evenly;
   				font-size: 20px;
   				@media (max-width: 64em){
   					width: 50%;
   					font-size: 18px !important;
   				}
   				@media (max-width: 40em){
   					width: 60%;
					font-size: 14px !important;
					svg{
						height: 14px;
					}
					@media (width: 320px){
						width: 42%;
						font-size: 10px !important;
						height: 35px;
						svg{
							height: 10px;
						}
					}
   				}
   			}
   			@media (max-width: 64em){
   				bottom: 55px;
   			}
   			@media (max-width: 40em){
   				bottom: 0;
   				width: 100%;
   			}

   		}
   		@media (max-width: 64em){
   			&-image{
   				opacity: 1;
   			}
   			&-content{
   				opacity: 1;
   			}
   		}
   		@media (max-width: 64em){
   			height: 63vh;
   			&-image{
   				height: 43vh;
   			}
   		}
   		@media (max-width: 40em){
   			height: 60vh;
   		}
   		@media (width: 1024px){
   			height: 45vh;
   		}
   		@media (max-width: 40em) {
   			flex-direction:column-reverse;
   			height: 100vh;
   			&-image{
   				width: 100%;
   				height: 45vh;
   				z-index: 0;
   				transform:translateY(0);
   			}
   			&-content{
   				width: 100%;
   				padding-top: 0;
   				height: 48vh;
   				.close-page{
   					font-size: 35px;
				    top: -340px;
				    right: 45%;
				    z-index: 200;
				    @media (width: 320px){
				    	font-size: 30px;
    					top: -300px;
				    }
   				}
   			}
   		}
	}
}
.project{
	&__Idea{
		margin-top: 100px;
	 	&-content{
		 	.top{
		 		border-radius: 50% !important;
		 		width: 50px;
    			height: 50px;
		 		position: fixed;
		 		bottom: 0;
		 		right: 45px;
		 		display: none;
		 		&:hover{
		 			transform :translateY(0);
		 		}
		 	}
	 	}
	 	&-image,&-content{
	 		width: 50%;
	 		@media (max-width: 40em){
			 width: 100%;
	 		}
	 	}
	 	&-image{
	 		position: relative;
	 		svg{
	 			position: absolute;
	 		}
	 		.ideaImg{
	 			left: 90px;
	 			position: relative;
	 			z-index: 5;
	 			@media(max-width: 64em){
	 				width: 85%;
	 				left: 50px;
	 				top: 0;
	 			}
	 		}
	 		.ideaCircle{
	 			z-index: 0;
	 			top:50px;
	 			@media (max-width: 64em){
	 				width: 80%;
	 				top: -60px;
                    left: 10px;
	 			}
	 		}
	 		.ideaL1{
	 			z-index: 1;
	 			top: 0;
    			left: -25px;
    			@media (max-width: 64em){
    				width: 40%;
    				left: 70px;
    				top: -65px;
    			}
	 		}
	 		.ideaL11{
	 			z-index: 1;
	 			top: 32px;
	 			left: 50px;
	 			@media (max-width: 64em){
	 				width: 40%;
	 				left:50px;
	 				top: -70px;
	 			}
	 		}
	 		.ideaL2{
	 			z-index: 3;
	 			bottom: 95px;
    			right: 20px;
    			@media (max-width: 64em){
    				width: 40%;
    				bottom: 20px;
    				right: -6px;
    			}
	 		}
	 		.ideaL21{
	 			z-index: 1;
	 			bottom: 180px;
    			right: 60px;
    			@media (max-width: 64em){
    				width: 35%;
    				right: 0;
    				top: 68px;
    				@media (width: 320px){
    					top:30px;
    				}
    			}
	 		}
	 		.ideaSCircle{
	 			bottom: 200px;
			    right: 90px;
			    z-index: 2;
			    @media (max-width: 64em){
			    	width: 15%;
			    	bottom: 80px;
    				right: 4px;
			    }
	 		}
	 		.ideaZigzag1{
	 			bottom: 136px;
    			left: 145px;
    			@media (max-width: 64em){
    				width: 20%;
    				left: 110px;
    				bottom: 60px;
    			}
	 		}
	 		.ideaZigzag2{
	 			bottom: 100px;
    			left: 200px;
    			z-index: 6;
    			@media (max-width: 64em){
    				width: 23%;
    				bottom: 40px;
    				left: 145px;
    			}
	 		}
	 		@media (max-width: 64em){
	 			margin-left: -8px;
	 		}
	 		@media (max-width: 40em){
	 			width: 95%;
	 		}
	 	}
	}
	&__cycles{
		margin-bottom: 80px;
		position: relative;
		height: 100vh;
	}
	&__Final{
		margin-top: 280px;
		height: 70vh !important;
		margin-bottom: 50px;
		&-image,&-content{
	 		width: 50%;
	 		@media (max-width: 40em){
	 			width: 100%;
	 		}
	 	}
	 	.grouped-buttons{
	 		.button{
	 			width: 220px;
	 			font-size: 20px;
	 			justify-content:space-evenly;
	 			@media (max-width: 40em){
	 				width: 50%;
	 			}
	 		}
	 	}
	 	&-image{
	 		position: relative;
	 		margin-top: 120px;
	 		svg{
	 			position: absolute;
	 		}
	 		img{
	 			position: relative;
	 		}
	 		.finalCircle{
	 			top: -40px;
	 			@media (max-width: 64em){
	 				width: 60%;
	 				top: -50%;
	 			}
	 		}
	 		.purplepath{
				left: 95px;
				top: -75px;
				@media (max-width: 64em){
	 				width: 60%;
	 				left: 80px;
    				top: -105px;
	 			}
	 		}
	 		.orangepath{
	 			left: 130px;
	 			top: 3px;
	 			z-index: 1;
	 			@media (max-width: 64em){
	 				width: 42%;
				    top: -40px;
				    left: 95px;
	 			}
	 		}
	 		.smallCircle{
	 			bottom: 125px;
    			right: 95px;
    			@media (max-width: 64em){
    				bottom: 50px;
				    right: 25px;
				    width: 12%;
    			}
	 		}
	 		.circleLine1{
	 			bottom: 108px;
			    right: 35px;
			    z-index: 2;
			    @media (max-width: 64em){
			    	bottom: 50px;
				    right: 5px;
				    width: 30%;
			    }
	 		}
	 		.circleLine2{
	 			bottom: 130px;
    			right: 60px;
    			z-index: -1;
	 		}
	 	}
	 	@media (max-width: 64em){
	 		height: 50vh !important;
	 		margin-top: 70px;
	 	}
	 	@media (max-width: 40em){
	 		height: 80vh !important;
	 		margin-top: 45px;
	 	}
	}
	&__Testimonial{
		justify-content:space-evenly;
		height: 40vh !important;
		margin-top: 130px;
		margin-bottom: 60px;
		&-title,&-content{
			width:45%;
			@media (max-width: 40em){
				width: 90%;
			}
		}
		.two-parts-title{
			font-size: 98px;
			line-height: 1;
			width: 60%;
			@media (max-width: 64em){
				font-size: 85px;
			}
			@media (max-width: 40em){
				line-height: 0.89;
				letter-spacing: 0.6px;
				text-align: center;
				font-size: 45px;
			}
		}
		&-content{
			position: relative;
		}
		.fa{
    		color:$quotes-color;
		}
		.two-parts-text{
			font-size: 22px;
			padding-top: 10px;
			line-height: 1.27;
    		letter-spacing: 0.9px;
		    text-align: justify;
		    @media (max-width: 40em){
		    	line-height: 1.23;
				letter-spacing: 0.4px;
				font-size: 13px;
				margin-top: 0;
		    }
		}
		.quote-teller{
			color: #55bbeb;
			font-size: 18px;
			font-family: $main-font;
			@media (max-width: 40em){
				font-size: 12px;
				text-align: left;
			}
		}
		@media (max-width: 64em){
			height: 30vh !important;
			margin-top: 90px;
		}
		@media (max-width: 40em){
			height: 50vh !important;
    		margin-top: 140px;
    		margin-bottom: 30px;
		}
	}
}
@media (max-width: 40em){
	.project__footer-image {
	    width: 60% !important;
	}
}
// .hide-remainPage{
// 	display: none;
// }


@media only screen and (min-width: 1600px) and (max-width: 2000px) {
	.main-content__project-content{
		  padding-top: 150px;
	 & .entry-content{
		font-size: 1.5rem !important;
	}
	 & .project-data{
		 & p{
			 font-size: 2rem;
		 }
	 }
}
// .project__Idea-content{
	& .two-parts-text{
		font-size: 1.5rem;
	}
// }
.project__Idea-image {
	& .ideaL2{
		bottom: 95px;
		right: 300px;
	}
	& .ideaSCircle{
		bottom: 200px;
		right: 386px;
	}
	& .ideaL21{
		bottom: 180px;
    right: 340px;
	}
}
& .project__Final{
	margin-top: unset;
	& .project__Final-image{
		& .circleLine1{
			 right: 335px;
		}
		& .circleLine2{
			bottom: 110px;
    right: 300px;
		}
		& .smallCircle{
			 right: 395px;
		}
	}
}

}
